[2019-06-09 14:03] amaurymartiny opened #1 "Consider switching to a more permissive license"
Other libraries under a more permissive license (MIT, APACHE-2) won't be able to use `ts-toolbelt` if it stays under AGPL.

[2019-06-17 21:50] pirix-gh commented on #1
@amaurymartiny good point, it's been changed in this first release

[2019-06-17 21:50] #1 closed

[2019-06-18 14:16] pirix-gh opened #2 "test"
## Feature Request

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I have an issue when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen. Add any considered drawbacks.

**Describe alternatives you've considered**
A clear and concise description of any alternative so

[2019-06-19 14:25] #2 closed

[2019-06-24 08:00] elektronik2k5 opened #3 "Examples in docs"
Hello and thanks for creating this package! :bowing_man: I'm evaluating ts utility packages and this looks like a solid option, but the docs are missing examples.

## 🍩 Feature Request: add examples to docs

#### Is your feature request related to a problem? Please describe
The docs have everything necessary, except for examples.

#### Describe the solution you'd like
Each function/type should hav

[2019-06-24 11:40] pirix-gh commented on #3
Don't worry, it's on the way! I was just taking a little break after the release :wink:
I will write simple examples for all the types in such a way that it clarifies the docs.

However, I won't go too much in detail :clock1030: .

So I'm going to open a "questions" section in the issues and will complete the docs piece by piece.

[2019-06-25 22:10] elektronik2k5 commented on #3
Cool, thanks for the thorough work and commitment!

[2019-06-26 21:27] pirix-gh opened #4 "Extends<any, any> does not return true"
## 🐞 Bug Report

#### Describe the bug

Extends<any, any> does not return true

#### Reproduce the bug
[code]

#### Expected behavior

[code]

#### Possible Solution

#### Screenshots

#### Additional context

@regevbr discovered this bug https://github.com/microsoft/TypeScript/issues/30188#issuecomment-506041815

[2019-06-26 21:38] #4 closed

[2019-06-26 21:43] pirix-gh commented on #4
@regevbr, thanks for reporting this first bug. From now on, don't hesitate to open issue, bug or feature request. Happy coding!

[2019-06-26 21:59] pirix-gh opened #5 "Why is `<x> extends infer X ? <y>: never` so used in the codebase?"
## 🤔 Question

#### Describe your question

#### Search tags, topics

[2019-06-26 21:59] pirix-gh commented on #5
I use this syntax to defer the evaluation of a type... Otherwise TS evaluates all the types in their full depth. This causes performance issues and is irrelevant because we only want to compute when we've received the type parameters. As a result, the ts-toolbelt types load fast.

But it is not the only use case. Like I said above, TS can complain that a type is too deep to compute, then you can f

[2019-06-26 21:59] #5 closed

[2019-06-27 06:51] regevbr commented on #4
@pirix-gh thanks for the swift fix!

[2019-06-27 06:55] regevbr commented on #4
@pirix-gh this still doesn't work for me...

[code]

[2019-06-27 07:58] pirix-gh commented on #4
@regevbr, your message error looks odd. I get no errors on TS 3.5, 3.6

There is no support for TS below 3.5. What is your environment (TS, IDE) ?

[2019-06-27 08:07] regevbr commented on #4
@pirix-gh I was using 3.4.5 because of breaking changes that were introduced in 3.5 (the deep nesting error). I just upgraded to 3.5.2 and indeed it works!
Thanks!

[2019-06-27 08:14] pirix-gh commented on #4
Cool! We started support at 3.5 because of this breaking change https://github.com/microsoft/TypeScript/pull/30769
Which allowed me to improve performance very much (indexes)

**I will update the Readme to mention more clearly the non-support**

Happy coding

[2019-06-27 19:10] dylanaubrey opened #8 "No index.js file so eslint complaining it cannot resolve the import"
## 🐞 Bug Report

#### Describe the bug

In the lib's `package.json` the `main` field points to a `index.js` file that does not exist when the lib is installed in a project. Because of this, in the project, eslint complains it cannot resolve the import.

#### Expected behavior
The lib should have an `index.js` file, even if it is empty, so that linters and other intellisense tools can find the file

[2019-06-27 21:51] #8 closed

[2019-06-27 22:08] pirix-gh commented on #4
@regevbr I've just updated v2.1, including performance improvements for `PathValid`

[2019-06-27 22:42] pirix-gh opened #9 "Why are Number utilities expecting numbers of type `string`?"
## 🤔 Question

#### Describe your question

The `Number` utilities all expect receiving a number that is a `string`. That does not make sense.

#### Search tags, topics

#number #string #input

[2019-06-27 22:55] pirix-gh commented on #9
This has been designed to fight performance issues. A number for the ts-toolbelt is basically an index on a map. Indexes are strings and this is the answer.

It would have been extremely heavy (but possible) to take a `number` as input. It would force us to search for the key of that number (basically transforming back to `string` every time).

This way, you can combine number operations together

[2019-06-27 23:09] #9 closed

[2019-06-27 23:31] regevbr commented on #4
@pirix-gh thanks! saw what you did there - stopped the iteration once you hit a block - nice!
Can you please explain this line though :
https://github.com/pirix-gh/ts-toolbelt/blob/c0287eb0a8b51383b6fc1b5910a412d4dc7071b0/src/Object/PathValid.ts#L26

[2019-06-28 11:55] pirix-gh commented on #4
In short, let's say you have an object `O` and a path `['a', 'b', 'c']`

[code]

Instead of trying all possible paths like before (heavy), `PathValid` now follows a given path and stops when it's wrong, then fills whatever is left with `never`. So it stops, and to do so, it follows your path:
[code]

So if we dive in `O`, and the path is wrong (or finished) it will end up being `never`.

Then you

[2019-06-29 11:15] regevbr opened #10 "Help with Path* methods"
## 🤔 Question

#### Describe your question
I'm trying to rewrite the entire typings for underscore in the @typings/underscore library.
One of the methods is [map](https://underscorejs.org/#map) and one of it's variations is to take a list and map every object in it to the value of the specified path of that object. e.g.
[code]
The best I got so far is
[code]

But when I try the example above I get

[2019-06-29 11:30] pirix-gh commented on #10
Wow this is a crazy quest you've started! (Personally, I use Ramda (it's ok/well typed))

I doubt that anyone would be able to guess the proper ouput type as it's implementation-dependent.

But you could get a wider type though that is the return type of the `iteratee` as an array/list:
`ReturnOf<Iteratee>[]`

Where `Iteratee` is the generic type of the `iteratee` function that is passed to `map`.

[2019-06-29 13:04] regevbr commented on #10
@pirix-gh I'm not sure I follow...
The example I presented doesn't work as a standalone so it has nothing to do with overloading of the Iteratee ...

[2019-06-29 13:29] pirix-gh commented on #10
Then I am not sure of what you're doing. I never used underscore. I just saw that the docs specify the second argument but I see that you're passing an array? But I can't see this anywhere in the docs.

So I guess you're trying to do some kind of function type overload. So I think that you're doing some kind of selection. You should write a mapped type that picks the right sub-elements.

[2019-06-29 14:13] #10 closed

[2019-06-29 16:29] regevbr commented on #10
The docs state vaguely (and the code backs it up) that iteratee value is actually passed to [_.iteratee](https://underscorejs.org/#iteratee) and then if you pass a string path array, it will be passed to  [_.property](https://underscorejs.org/#property) so my use case is valid.

But all of this has nothing to do with my problem, as the example above simply fails regardless of the other overloaded

[2019-06-29 17:30] regevbr commented on #10
The following example does work with the original code (no spread).
It seems that it is related to how Typescript realizes the type of the array.
[code]

One can try to use

[code]

But then the array becomes `readonly` and can't be passed into your library types...

[2019-06-29 17:42] pirix-gh commented on #10
You can, use `T.Writable` before passing it to other types. Sorry that I can't help you more atm. I am very busy.

[2019-06-29 17:51] regevbr commented on #10
That works!
Writable of Tuple is not exported - I will open a bug for it.

[2019-06-29 17:53] regevbr opened #11 "T.Writable is not exported"
## 🐞 Bug Report

#### Describe the bug
T.Writable is not exported.
Currently can only be accessed by
[code]

#### Possible Solution
Add to `Tuple/_api.d.ts`
[code]

[2019-06-29 17:53] regevbr commented on #11
I will create a quick PR

[2019-06-29 18:06] pirix-gh commented on #11
That's really bad luck, sorry. I forgot to add it in `Tuple/_api`. Thanks.

[2019-06-29 18:13] regevbr commented on #11
Sure thing - probably happens because you skipped the tests for it :-) - I added some as well.

[2019-06-29 18:57] #11 closed

[2019-06-29 19:09] pirix-gh commented on #11
TypeDoc is giving me problems generating the docs when using `readonly`... They don't support it

[2019-07-01 01:27] pirix-gh opened #13 "v3.0.0 testing"
I've pushed a pre-release `npm i ts-toolbelt@next --save` with the following changes:

**Breaking changes:**
- Removed `N.Clamp`
- All types returning `boolean` now return `0 | 1` (still need to update the docs)
- `Boolean` (B) now only accepts `0 | 1` as a `boolean` with possibility to transform to a real `boolean` with `Fmt`

**Changes:**
- Increased computation speed
- Removed excess `extends`

[2019-07-01 09:20] regevbr commented on #13
@pirix-gh glad to - will keep you posted

[2019-07-01 12:25] regevbr commented on #13
@pirix-gh looks good for now! nothing breaks for my projects so far

[2019-07-01 13:41] regevbr commented on #13
@pirix-gh got a new too deep error:
[code]
then when using it:
[code]

And it doesn't happen with 2.1.5

[2019-07-01 13:58] pirix-gh commented on #13
Thank you, I'm going to have a look, I invite you to switch back to the other version until further notice. This is from all the `infer`s I've removed.

[2019-07-01 14:23] pirix-gh commented on #13
@regevbr can you post me the type of `booking` ? I don't get errors with my tests.

[2019-07-01 14:29] regevbr commented on #13
@pirix-gh it is very complicated and spread over a few files and also kind of sensitive :-)
Let me see if I can reproduce it with a different type.

The weired thing is it only happens on webstorm itself, but not when I run tsc... Can you explain it? They are both using the same typescript version

[2019-07-01 14:30] regevbr commented on #13
Strange now it disappeared... No clue what is going on

[2019-07-01 14:37] pirix-gh commented on #13
I use VSCode, I got tired of the slow IntelliJ... But anyway, this also happened to me. I suggest deleting your `node_modules` as TS stores it's cache. Just yesterday, I was working on the new update and everything seemed to work fine... till I removed the cache (of 150MB) then I realised 100 tests were not passing :anger:

Hope it solves your problem

[2019-07-01 14:46] regevbr commented on #13
I guess that what got it solved in the first place...
I'm planning on moving to VSCode for a long time now but my entire project management is based on YouTrack and the current plugin for VSCode just doesn't do the trick for me.

[2019-07-02 12:11] regevbr opened #14 "test should not be bundled in package"
## 🐞 Bug Report

#### Describe the bug
The `tst` directory is bundled in the npm package and it is redundant...

[2019-07-02 13:18] regevbr commented on #14
I'll make a quick PR soon

[2019-07-02 13:21] pirix-gh commented on #14
I've fixed it in `@next`

[2019-07-02 13:21] #14 closed

[2019-07-02 13:34] regevbr commented on #14
I don't see that you changed. npmignore on the next branch

[2019-07-02 13:41] pirix-gh commented on #14
I found out that the `.npmignore` cannot ignore for child directories, so I added to the scripts the deletion command for the `tst` folder.

[2019-07-05 23:50] ctrlplusb opened #15 "Why using `string` rather than `keyof O` in Omit/Pick/etc?"
## 🤔 Question

I get type errors unless I set my Typescript to `skipLibCheck`. Specifically around the types that operate on keys.

For example `Omit` is defined as:

[code]

Why do you not use a `keyof` based restriction?

i.e.

[code]

You are obviously a Typescript god, so I assume there must be a solid reason for this decision?

[2019-07-06 10:51] pirix-gh commented on #15
Hi @ctrlplusb,

No no no, this is a problem :laughing: !

However, it has/had a purpose:
- You can pass any string value and the error will be gracefully handled for you
- You can pass another type that can compute the keys for you without casting

Which is a problem if you use number indexes in objects and is a design problem (from my side) that was introduced by https://github.com/microsoft/Type

[2019-07-06 15:35] pirix-gh commented on #15
`"keyofStringsOnly": true`, sorry.

[2019-07-06 15:53] pirix-gh commented on #15
@ctrlplusb

Can you give me the steps that lead you to this compilation error?
- your tsconfig.json
- your piece of code

I tried to reproduce the errors with no luck. This is might be because TS handles backwards compatibility, otherwise it would break many existing types... Waiting for your feedback.

[2019-07-06 16:21] pirix-gh commented on #15
@ctrlplusb never mind, strangely, I get very inconsistent error reports. I can't see why it does report errors and sometimes it just does not... Very confusing and looks like a bug.

[2019-07-06 19:35] pirix-gh commented on #3
I will work on the documentation right after the official release of the v3.

Sorry for the delays!

[2019-07-07 00:19] pirix-gh commented on #15
New version will be out soon, with spectacular performance

[2019-07-07 23:18] pirix-gh commented on #15
Hi, dear bug reporters @regevbr @ctrlplusb @tonivj5 :bug:

I've published the latest version. I'd be thankful if you can install it and give your feedback.
`npm i ts-toolbelt@next --save`

This version brings out:
* Increased performance
* 100% type soundness
* Breaking API changes
* No packed errors #15

However, these breaking changes don't affect `Tuple`, `Union` or `Object` and concern only `S

[2019-07-08 06:25] jituanlin opened #16 "How `Equal` type work?"
When I read the `Equal` type implementation, I have two question.
The first one:
[code]
My question is, why not directly use:
[code]

The second one:
[code]
Why this work for `indexed type` includes `readonly` case?

[2019-07-08 09:34] ctrlplusb commented on #15
Amaze, thanks @pirix-gh, I will try this out and feedback asap. 👍

[2019-07-08 09:40] ctrlplusb commented on #15
Wow 😍- works perfectly. I have a pretty extensive set of tests around my Typescript definitions too on my [lib](https://github.com/ctrlplusb/easy-peasy).

No errors, and I am doing full lib checking too.

Thanks for looking into this so fast!

I know how stressful maintaining a lib is, and can only imagine the complexity of managing a lib that operates on a typing system is exponentially more diff

[2019-07-08 10:49] pirix-gh commented on #16
Hi @jituanlin,

I strongly invite you to switch to `npm i ts-toolbelt@next --save`

This is on the `next` branch and the current version will be deprecated soon.
This latest version only packages the last `EqualsStrict` as `Equals` itself.

`Equals` is now strict by default.

So now, by default:
[code]

If you're reading my code, switch to the `@next` as the version on master is a bit "drafty".
He

[2019-07-08 11:23] pirix-gh commented on #15
@ctrlplusb thank you a lot. And thanks for your tests too, this is really coool :sunglasses:.

Yhea, sometimes I feel a bit burnt out but then I think that it is a good return on investment as I will be less likely to burn out on my future projects if they are strongly typed. Then I feel much better :laughing:

[2019-07-08 19:01] regevbr commented on #15
Hi @pirix-gh I have just installed the latest version (3.0.0-6) and using it with ts 3.5.2 and the following example fails :-(

[code]

Seems to be an issue with handling the `any` type.
Can you please check why that happens?

[2019-07-08 21:20] pirix-gh commented on #15
Hey @regevbr, glad to see you again!

It's been fixed, I added the tests this time so this won't happen again. Sorry for this!

I invite you to update :timer_clock:

[2019-07-08 23:08] pirix-gh commented on #15
@regevbr I updated again, reverting the `At` type to what it used to be. The `At` type caused TS to hang.

For more details https://stackoverflow.com/questions/56942865/is-it-correct-that-anynever-is-of-type-any

[2019-07-09 06:24] jituanlin commented on #16
[I found a further reading  maybe help for other gus refuse same thing.](https://stackoverflow.com/questions/52443276/how-to-exclude-getter-only-properties-from-type-in-typescript/52473108#52473108)

[2019-07-09 06:24] #16 closed

[2019-07-09 06:34] jituanlin opened #17 "Try implement recursive type fellow your way, but not work"
Hi, Guy, I read your bog which post in medium.
And I try to improve the type of  `path` function of `Ramda`,
but not work, I spent few hours to fix it, however...
[code]
As you can see, the T is type `1`, and the `v` infer as `never`.
Why? Pls. Thank you.

[2019-07-09 06:38] regevbr commented on #15
@pirix-gh thanks! it is working now (or at least for now :-) ) will keep you posted as I migrate more projects

[2019-07-09 10:44] pirix-gh commented on #17
@jituanlin, please go read my implementation of path in `Object/Path.ts`. Your `GetByPath` seems to reference itself. These problems are quite common and this is why I brought `Iteration` types out, to move over arrays with `Next` and `Prev`.

This is what `Path` uses internally:

[code]

Note that without the `as const` TS would narrow `['a', 'b', 'c']` to `string[]` and this would not work.

[2019-07-09 10:47] regevbr commented on #15
@pirix-gh upgraded in some more projects and it seems to work well :-) thanks!

[2019-07-09 10:52] pirix-gh commented on #15
Thanks again @regevbr for your help. I'm so glad it's all ok :tada:

Have a nice day

[2019-07-09 10:58] #15 closed

[2019-07-10 02:47] jituanlin commented on #17
Yes, but I think I just follow you.
Consider bellow code you write in `Ramda`:
[code]
The `Last` also  reference itself, but it will well.
So, what I missing?

[2019-07-10 06:16] pirix-gh commented on #17
The condition of your type is non-terminating in some cases. In cases where
the length of the tuple is unknown and equals number most probably.

This tutorial is for learning purposes, please use Iteration (same as
Iterator from the tutorial)

Good luck!

Le mer. 10 juil. 2019 à 04:47, 林集团 <notifications@github.com> a écrit :

[2019-07-10 06:48] #17 closed

[2019-07-22 10:54] ErDmKo commented on #8
I still can't to use linter. index.js is missing.
https://www.jsdelivr.com/package/npm/ts-toolbelt?path=out

[2019-07-22 18:08] ricsam opened #20 "I can't import anything"
## 🐞 Bug Report

#### Describe the bug
The exports are empty. Does not matter if I use `import { O } ...` or `import tb ...`

![image](https://user-images.githubusercontent.com/986386/61653402-7f3b5480-acba-11e9-9405-744946b0fbcd.png)

happens in both ts-toolbelt@2.1.5 and ts-toolbelt@3.0.0-11

#### Reproduce the bug
[code]

#### Expected behavior

#### Possible Solution

![image](https://user-ima

[2019-07-22 22:36] pirix-gh commented on #8
Sorry, I rolled back by mistake. Will merge soon

[2019-07-22 23:10] pirix-gh commented on #20
Try restarting the TS service or your IDE. Does it work?

[2019-07-23 04:41] ricsam commented on #20
Nope :(, tested two versions of vscode and restarted the ts server

On Tue, 23 Jul 2019 at 01:10, Pierre-Antoine Mills <notifications@github.com>
wrote:

[2019-07-23 06:16] ricsam commented on #20
I have now managed to get it to work somehow. I would say that this is a bug with typescript and not this library. I managed to get it to work by changing the declare export to export and explicitly importing the specific module I wanted to use. Thereafter typescript magically "registered" the existence of the files, so I was able to revert my changes and the exports work as expected. Weird. Alrig

[2019-07-23 06:16] #20 closed

[2019-07-23 09:15] pirix-gh commented on #20
@ricsam Make sure you have TS >= 3.5

[2019-07-25 00:40] #13 closed

[2019-07-25 00:51] pirix-gh commented on #3
I don't have the time to write examples for all the types... Sorry about that. But I am willing to complete them progressively as users ask for it. So I updated the Readme, where I invite users to ask for examples now. It's progressive, and works the same way as the wiki.

The amount of work is too huge... But rest assured, I will reply fast & update the docs fast as well.
This way is more maintai

[2019-07-25 00:51] #3 closed

[2019-07-25 09:02] regevbr opened #21 "strange behavior with PathValid"
Hi @pirix-gh

First I'm glad to see you finally released v3!

I have the following problem: (using v3)

[code]
Any thoughts?

[2019-07-25 10:36] pirix-gh commented on #21
Hi @regevbr, glad to see you again!

I see that the curse of the `PathValid` is still following us.

My bad, I was casting the type parameter `O` by doing `O & []` instead of `O & {}`.

It's been fixed!

[2019-07-25 10:38] #21 closed

[2019-07-25 11:25] regevbr commented on #21
@pirix-gh thanks it is working now!

[2019-07-25 12:57] amaurymartiny opened #22 "How do I use String.Format?"
## 🤔 Question

#### Describe your question

This one: https://pirix-gh.github.io/ts-toolbelt/modules/_string_format_.html

An example would be welcome.

#### Search tags, topics

#format

[2019-07-25 13:18] #22 closed

[2019-07-25 13:19] pirix-gh commented on #22
Hi @amaurymartiny, it's out! Thanks for asking.

[2019-07-25 13:20] amaurymartiny commented on #22
That was fast!

[2019-07-26 18:41] pirix-gh opened #23 "**Cards**"
Cards can be added to your board to track the progress of issues and pull requests. You can also add note cards, like this one!

[2019-07-26 18:42] #23 closed

[2019-08-02 14:46] rifler opened #24 "Add empty index.js file to out dir"
Package has "main" field
https://github.com/pirix-gh/ts-toolbelt/blob/master/package.json#L26

but this file doesn't exist. I think thats why eslint triggers error `Unable to resolve path to module 'ts-toolbelt'  import/no-unresolved`.

I create this file manually by `touch ./node_modules/ts-toolbelt/out/index.js` and the error is gone

[2019-08-02 14:46] pirix-gh commented on #24
@rifler thanks, looking into it

[2019-08-02 14:54] pirix-gh commented on #24
Fixed

[2019-08-02 14:54] #24 closed

[2019-08-02 19:31] xaviergonz opened #25 "DeepReadonly for any type"
## 🤔 Question

I tried to look for a generic DeepReadonly in the library, but I couldn't find one, is there one?

If not, would this be a proper way to implement it?
[code]

also, is the `extends infer R ? R : never` required here to avoid getting type instantation too deep errors?

[2019-08-02 19:59] pirix-gh commented on #25
Hi @xaviergonz,

You can use `O.Readonly` it's generic. As `T.Readonly` just performs a `Cast` on `O.Readonly` to force TS to acknowledge that it is an Array/Tuple that we are dealing with.

[2019-08-02 21:47] xaviergonz commented on #25
Ah thanks, so if I want it to also support primitives (by doing nothing to them) this is ok?

[code]

[2019-08-03 10:23] pirix-gh commented on #25
Yes it's ok if you have a very specific use-case in your project

This should do:
[code]

[2019-08-03 19:18] #25 closed

[2019-08-04 18:05] mifozski opened #26 "Pick method also includes all of the optional parameters"
## 🐞 Bug Report

#### Describe the bug
When using a Pick method on a type that contains optional parameters the resulting type will contain all of those optional parameters regardless of what the path argument is.

#### Reproduce the bug
[code]

`pickedTest` contains `foo` *and* optional `bar` property.

#### Expected behavior
Type `pickedTest` contains only `foo` property.

#### Additional contex

[2019-08-04 22:20] pirix-gh commented on #26
Thanks for reporting this. I will start fixing this tomorrow.

[2019-08-05 14:26] #26 closed

[2019-08-05 14:28] pirix-gh commented on #26
Fixed. Let me know if it's all good.

I added tests to make sure there's no regression. And added docs for `Object.P`.

[2019-08-06 17:23] mifozski commented on #26
Thanks for quick response and a fix! Seems to be working correctly.
Although, I've got a new question about how to pick two different paths of an object that have different subobject names and if that is even possible. I'll file a new ticket for that.

[2019-08-06 17:31] mifozski opened #28 "Pick two different branch of an object that have different subobject names"
## 🤔 Question

#### Describe your question
How do I pick two different paths of an object that have different subobject names, for example:
[code]

I want `pickedTest` to be
[code]
but the resulting type is
[code]
which kinda makes sense.
What is the expected syntax here and if that's even possible?

[2019-08-06 18:09] pirix-gh commented on #28
Hi @mifozski,

By default, it does not include something that does not have a valid path.
However, we could write another version called `PickTry` that would solve your use case:

Imagine the following scenario:

[code]

and the ouput type would be:

[code]

It it what you need? If so, do you find the name convenient (do you have a better idea)?

So the type just picks whatever it can, trying as i

[2019-08-06 20:09] pirix-gh commented on #28
Maybe I could make it the default behavior... Have to think about it.

[2019-08-07 08:48] ctrlplusb commented on #28
Strangely enough I was trying to solve the exact some problem in my library. 😀

[2019-08-07 08:49] pirix-gh commented on #28
@ctrlplusb what do you think? Should I make this the default behavior?

[2019-08-07 09:41] mifozski commented on #28
I think it makes sense to make it a default behavior as I can't think of a case where we'd want to pick several paths at first and then narrow it down to something that will be valid only for one path.

[2019-08-07 13:58] ctrlplusb commented on #28
Yep, I agree, I thought this would have been the default behaviour too. :)

[2019-08-07 18:45] pirix-gh commented on #28
Well, thanks, closing the debate. I agree that it is inconsistent. Working on it.

[2019-08-07 20:42] #28 closed

[2019-08-07 21:05] ctrlplusb commented on #28
Woot! Gonna experiment with this soon. 🎉

[2019-08-07 22:15] pirix-gh commented on #28
I must say, this was quite a challenging type to write. I am still wondering if it could be simplified :unamused:

[2019-08-07 22:27] pirix-gh opened #30 "What does `Object.P` stand for?"
## 🤔 Question

#### Describe your question
I see that I can import `O.P` or `Object.P` and I want to know what it is

#### Search tags, topics
#Object.P #Deep #Path

[2019-08-07 22:37] pirix-gh commented on #30
It is types that are the n-depth counterparts of the `Object.*` types. To say that they can operate at any depth on an `Object` type thanks to their `Path` option.

[2019-08-07 22:37] #30 closed

[2019-08-09 12:01] joshuaavalon opened #31 "How to write the type of an async pipe function?"
## 🤔 Question

#### Describe your question

How to write the type of an async pipe function?

**Implementation**
[code]

`pipePromises` accepts normal function and async function. I know that the normal pipe function can use ` <Fns extends F.Function[]>(...args: F.Piper<Fns>): F.Pipe<Fns>` but I don't know how to write the promise version.

#### Search tags, topics

#promise, #async

[2019-08-09 14:46] pirix-gh commented on #31
Hi @joshuaavalon,

I think it handles it by default:

[code]

or even

[code]

[2019-08-09 14:49] pirix-gh commented on #31
Use `as` to force a type cast

[2019-08-10 02:37] joshuaavalon commented on #31
@pirix-gh I may failed to mention something in my example. The implementation actually unwrap the promise of the result.

Consider the following

[code]

This works because JavaScript automatically unwrap promise in `then`. `const b = async (a1: Promise<string>) => [a1];` is actually wrong because it will receive `string` instead of `Promise<string>`.

[2019-08-10 11:41] pirix-gh commented on #31
Yhea, I see what you mean now:

[code]
However, this is still correct, but yours unwraps the value as it reduces the list.

I'll see what I can think of. I think you'll need a specially crafted type for this.

[2019-08-10 14:10] pirix-gh commented on #31
@joshuaavalon, good news!

You now have an async option that will unwrap the promise types.

Check the docs out. And let me know if it's all good :)

[2019-08-10 14:10] #31 closed

[2019-08-11 21:33] regevbr opened #32 "Add a RequireOnlyOne object type"
## 🍩 Feature Request

#### Describe the solution you'd like
It will be a really nice addition to add a `require only one` Object type.
The basic idea behind it is that given an Object with multiple keys, create a union type in a way that a sub set of keys from the object can only exists on its own with out the others.
E.G
[code]

I currently achieve that type using the following:
[code]

@pirix-gh

[2019-08-11 22:24] tonivj5 commented on #32
I was just looking for it yesterday :laughing: :+1:

[2019-08-11 23:32] pirix-gh commented on #32
Hi @regevbr, glad to see you,

Yes we can add such a type. I just have a few questions:
- Is it voluntary to make the fields also optional?
[code]
- Can you give me one or two use-cases? I never came across such scenario.
- Is it to say, I either want this part or that part of an object?

[2019-08-12 00:29] pirix-gh commented on #32
@tonivj5 @regevbr

Here is a version that preserves the type modifiers (readonly, ? ...). Don't hesitate to use `Compute` if your types don't render properly, it forces them to render to something we can read. So here's my implementation:

[code]

[2019-08-12 00:33] pirix-gh commented on #31
@joshuaavalon did it work out for you?

[2019-08-12 12:00] pirix-gh commented on #32
Hey @regevbr, I will include this type if we can agree to a more general use case (and put words on it).

I am not fond of the `undefined` as it is because also "other properties can't be used" if they're not present (in my implementation). Maybe it's just related to your project, so you should write your own type since this lib is a general-purpose tool.

And we need too make sure that the modifi

[2019-08-12 12:26] regevbr commented on #32
If I use your implementation in my library, the behavior is very strange.
The computed type for `expression` in https://github.com/regevbr/json-expression-eval/blob/8086845092722cb100dbd41304a983338fe65afa/src/example/example.ts#L17 is:
[code]

But it is still valid to set it like:
[code]
Can you explain it?

The reason my library only allows a single property is the fact that in every object "lev

[2019-08-12 12:27] regevbr commented on #32
@tonivj5 maybe you can shed some light on your use case?

[2019-08-12 17:32] pirix-gh commented on #32
@regevbr OOOooh I see now. This is kind of strange. I understand your problem now.

[2019-08-12 17:42] pirix-gh commented on #32
It's a bug https://github.com/Microsoft/TypeScript/issues/20863

[2019-08-12 17:49] regevbr commented on #32
@pirix-gh indeed seems like it, and the workaround suggested there is an extended form of my solution. How should we proceed?

[2019-08-12 20:09] pirix-gh commented on #32
Hola @regevbr @tonivj5

You guys can now use [Either](https://github.com/pirix-gh/ts-toolbelt/blob/740742c0/src/Object/Either.ts#L16)

[2019-08-12 20:10] pirix-gh commented on #32
I hope this ts issue will resolve one day

[2019-08-12 20:15] regevbr commented on #32
@pirix-gh you are the best! Will get to check it right away

[2019-08-12 20:26] regevbr commented on #32
@pirix-gh sadly it doesn't work :-( as I mentioned earlier here, the usage of Compute causes issues.

I found an example that does't work, but not sure that is why it doesn't work for me:

[code]

If you want to see the errors I get, best that you checkout my library as change in index.ts the `RequireOnlyOne` type to
[code]

[2019-08-12 20:29] regevbr commented on #32
If I remove the Compure part from Strict, it works nicely for me, no idea why it matters so much...

[2019-08-12 20:30] pirix-gh commented on #32
Ah, let me check this out. `Compute` is strictly for the user readability.

[2019-08-12 21:01] pirix-gh commented on #32
@regevbr, the problem was coming from `Compute` that was too strict, then your type did not even resolve to any. I've changed it for the looser implementation from Titian. I've pushed out a fix. Sorry 'bout that!

[2019-08-12 21:15] #32 closed

[2019-08-12 21:18] regevbr commented on #32
@pirix-gh cool works now! Again thanks a lot :-)

[2019-08-12 21:26] pirix-gh commented on #32
Somehow you always bring to me the worst issues :rofl:
Just joking, thanks, I really appreciate your help @regevbr

[2019-08-12 21:44] regevbr commented on #32
@pirix-gh haha, I just work with very complex typings :-)

[2019-08-15 09:27] regevbr opened #33 "Reverse type for enums"
## 🍩 Feature Request

#### Describe the solution you'd like
I will be very cool to have a type that inverses a string enum type.
For example
[code]

@pirix-gh what do you think?

[2019-08-15 09:47] regevbr commented on #33
The following works for any object (but not for enums):
[code]
Working on a solution for enums as well

[2019-08-15 15:01] regevbr commented on #33
This will also be useful to implement unserscore`s invert method typing - https://underscorejs.org/#invert

[2019-08-15 22:51] pirix-gh commented on #33
This seems to be good to me!

I can publish this soon, just changed it a bit:

[code]

[2019-08-16 07:27] regevbr commented on #33
@pirix-gh looks good!

How come your type is computed well and mine needed the Minify trick?

In `O extends tObject.Record<keyof O, string>` I think you should use your `Index` internal type here as it is a valid use case:
[code]

[2019-08-16 11:28] pirix-gh commented on #33
Yes, good point, thanks

[2019-08-16 12:09] pirix-gh commented on #33
It's out! I thanked you on the readme for your great devotion @regevbr :tada:

[2019-08-16 12:10] #33 closed

[2019-08-16 18:06] regevbr commented on #33
@pirix-gh thanks again! It works perfectly :-)

[2019-08-18 19:05] regevbr opened #34 "add type for callback"
## 🍩 Feature Request

#### Describe the solution you'd like
Callback are sadly still very common, no reason why we should not type it properly :-)
[code]

@pirix-gh thoughts?

[2019-08-18 19:19] regevbr opened #35 "extract keys of type (key type, not its field type)"
## 🍩 Feature Request

#### Describe the solution you'd like
Since keys of an object can be of type `string|number|symbol` and sometimes types require only string values, it will be handy to have a type that extracts only the string key (or of any type for that matter)

[code]

@pirix-gh thoughts?

[2019-08-18 19:30] regevbr opened #36 "add assertUnreachable method (not type...)"
## 🍩 Feature Request

#### Describe the solution you'd like
When using switch on types, typescript allows a validation to make sure you covered all the cases in the form of a method that accepts never:

[code]

So the following will work:
[code]

But if we change `T1` to
[code]
TS will produce an error. Letting you know you forgot to cover a case.

I know this is not a type, but it is a very handy

[2019-08-18 20:04] pirix-gh commented on #35
@regevbr , I currently achieve this by doing `[keys] & [type]`. For example:
[code]

[2019-08-18 20:07] regevbr commented on #35
That makes sense, although less intuitive in my view. Thought this type will make it more _verbose_ and easier to discover in your library

[2019-08-18 20:10] pirix-gh commented on #35
You can still be verbose (but more generic) with https://pirix-gh.github.io/ts-toolbelt/modules/_union_filter_.html#filter

[2019-08-18 20:24] pirix-gh commented on #36
Yes, I is not type-level, so I can't add it. I think this would belong in a utility library.

[2019-08-18 20:24] #36 closed

[2019-08-18 20:26] pirix-gh commented on #35
Sorry @regevbr, I meant https://pirix-gh.github.io/ts-toolbelt/modules/_union_select_.html#select

[2019-08-18 20:26] #35 closed

[2019-08-18 20:39] regevbr commented on #35
@pirix-gh do you think we can at least expose
[code]
in the public interface?

[2019-08-18 20:54] pirix-gh commented on #34
@regevbr I think that this is really dependent on the taste of the developer... There is many other callback flavors, so I cannot add this, sorry.
I believe that all of these project-specific {types, constants, tools} belong inside a `Util.ts` at the root of the project's folder and that module-specific {types, constants, tools} belong in a static `class Util` at the bottom of the module file. Wel

[2019-08-18 20:54] #34 closed

[2019-08-18 20:59] pirix-gh commented on #35
@regevbr Yes, I also found myself needing it a few times

[2019-08-18 21:05] regevbr commented on #34
I completely understand, but as I have 10's of projects (most are private) I find myself writing those kind of types over and over again. More over, I don't believe there is an opinion here (maybe just the `Error` type which we can generfiy) as callback structure is an industry wide convention and not something developers play with (at least in most use cases, as I have seen some rare conventions

[2019-08-18 21:38] pirix-gh commented on #34
I've seen many devs using callbacks without error handling, or where they rather throw errors, not handling it in a functional manner like you do (but with try/catch). It's about different tastes. In my opinion, I prefer the (simple) functional approach, as it does the error reporting deeply and without the awful try/catch everywhere (thanks Java!) and that can be achieved with the technique you'v

[2019-08-18 21:57] Sieabah opened #37 "TS2315: Type '_Omit' is not generic and TS2456: Type alias '_Omit' circularly references itself."
## 🐞 Bug Report

#### Describe the bug
[code]

#### Reproduce the bug
Typescript: 3.4.3

#### Expected behavior
Prevents compilation

[2019-08-18 22:07] pirix-gh commented on #37
@Sieabah It's in the readme, only TS >= 3.5 :laughing: But don't worry, you're not the only one!

[2019-08-18 22:07] #37 closed

[2019-08-19 00:38] Sieabah commented on #37
Oops! Sorry, I recently only found this because of upgrading ramda and this suddenly popped up, will try to upgrade my TS and see if it doesn't break anything else!

[2019-08-19 06:35] regevbr commented on #34
Ok got your point!

As to handling common stuff:
I have a private npm repo with a published common package that everyone depends on. I also don't believe in the monorepo way - all my micro services and packages are sitting in individual projects - easier to manage dependencies in ci/cd flows.

[2019-08-19 13:21] Jerry-Hong opened #38 "How to use this module?"
## 🤔 Question
How to use this module? Is it possible used with ramda?

#### Describe your question

Q1: How to simply create a type for a curry function?

Like this add function
[code]

I know we can create a function type and turn it to curry.

[code]

Is there a more simply way?

Q2: Is this module work with ramda?

ramda curry type is not so friendly in typescript

[code]

Is there a way to cha

[2019-08-19 13:50] pirix-gh commented on #38
The curry types from this library are already shipped with ramda already. Make sure you have TS >= 3.5 and the latest `@types/ramda` in your `package.json` :)

[2019-08-19 16:16] pirix-gh commented on #38
[code]

[2019-08-19 16:16] #38 closed

[2019-08-19 16:52] Jerry-Hong commented on #38
@pirix-gh Thanks a lot for your reply.

I test ramda map curry function, It is always error with x unknown.

`@types/ramda` is lastest version

dependencies
"@types/ramda": "^0.26.19"
"typescript": "^3.5.3"
"ramda": "^0.26.1"

![CleanShot 2019-08-20 at 00 48 38](https://user-images.githubusercontent.com/5695689/63283600-48218880-c2e4-11e9-80cb-2c1a3fe1d9e0.png)

I have look into `@types/ramda` map

[2019-08-19 18:27] pirix-gh commented on #38
You must be new to typescript. I guess that you missed out:

[code]

But this is not related to this library ;)

Cheers

[2019-08-19 18:33] Jerry-Hong commented on #38
@pirix-gh  Ya, I just want to can I use this module let typescript know the `x` type in curry function automatically .
Because this work

[code]

[2019-08-19 18:40] pirix-gh commented on #38
Unfortunately, the type inference cannot work this way when it is curried. And there's also a few limitations with currying and generics (which should solve in the future https://github.com/microsoft/TypeScript/issues/5453).

[2019-08-19 18:42] Jerry-Hong commented on #38
@pirix-gh Thank you so much! I get it. 😀

[2019-08-20 17:14] regevbr opened #39 "Strange behaviour in generics"
## 🤔 Question

#### Describe your question
Hi @pirix-gh, can you please explain the following error?
It seems that typescript is able to realize that
[code]
When used with concrete types, but when using generics, it fails miserably...

[code]

[2019-08-20 17:18] pirix-gh commented on #39
Strange enough, I am looking into this at the moment!

[2019-08-20 18:01] regevbr commented on #39
haha that is strange! Hope you find something soon :-)

[2019-08-20 18:19] pirix-gh commented on #39
I'll come back to you, it might take me some time... :thinking:
I have to figure out a few things about type inference

[2019-08-20 18:33] regevbr commented on #39
Thanks, I appreciate it!

On Tue, Aug 20, 2019, 21:19 Pierre-Antoine Mills <notifications@github.com>
wrote:

[2019-08-21 13:19] pirix-gh commented on #39
@regevbr are you willing to extract a list of fields or just a single field?

[2019-08-21 13:35] regevbr commented on #39
@pirix-gh can you please elaborate? I'm not sure on what part you are talking about...

[2019-08-21 13:37] pirix-gh commented on #39
What is the purpose of this? Just return the value of a field?
[code]

[2019-08-21 13:38] regevbr commented on #39
Yes, I use it when I don't know what field I'm getting (plain string), but I do know that its value will be V.

[2019-08-21 13:39] regevbr commented on #39
It is just an elaborate way of avoiding ts-ignore on

[code]
Where the field is an arbitrary string;

[2019-08-21 15:48] ctrlplusb opened #40 "Filter not working with generics"
## 🐞 Bug Report

#### Describe the bug

TBH I am not sure if this is a bug with `ts-toolbelt` or a limitation of TS itself.

I have a case where I utilise `O.Filter` against a generic model.

For basic concrete implementations of the generic model everything works okay, however, if I have a kind of factory to produce various forms of the generic model then the typing breaks.

#### Reproduce the bu

[2019-08-21 15:49] ctrlplusb commented on #40
FYI, if I don't use `O.Filter` and instead do something like hardcode `Omit<Model, 'set'>` then all works fine.

[2019-08-21 16:05] pirix-gh commented on #39
@regevbr this version is more typesafe as `V` might not exist on your type. The stuff below is still very WIP, but is something I would like to integrate to the library:

[code]

This way, you also don't have to worry about passing the type of your `object` and `V`, it's done (inferred) automatically.

[2019-08-21 16:45] regevbr commented on #39
That is fairly complicated to understand but I got it :-)
But you still have to coerce the return type to `any` which I'm trying to avoid...
Which types do you want to put in the library? The `Type` one?

[2019-08-21 17:25] pirix-gh commented on #39
Yhea, don't worry about the `Types` there. It's just that I have a preference in avoiding to pass generics.

Ah, well, this comes from the `At` type (in my example). But in yours, I am afraid that we can't do anything about it. TypeScript is not able to narrow all the computations down, even though it is correct. So, if you are willing to do this, you will have no other option than using `as` or:

[2019-08-21 17:27] #39 closed

[2019-08-21 18:37] pirix-gh commented on #40
@ctrlplusb, I'm sorry about this :crying_cat_face:. I'm looking into it right now!

[2019-08-21 22:21] pirix-gh commented on #40
@ctrlplusb It's just so strange... If you use `Select` instead of `Filter` it allows `set`, normal (because it selects the functions). Now you must know that `Filter` and `Select` are strict opposites. So logically, if you swapped them (put `Filter` back), you should have `value` and not `set`. BUT IT'S NOT THE CASE. This just drives me mad because I thought it was because of the type inference fo

[2019-08-22 09:30] ctrlplusb commented on #40
No worries, thanks for looking into it irrespective - I know how complex and time consuming this stuff can be. 😀

I'll have a play around with an alternative solution in the interim.

[2019-08-22 10:52] pirix-gh commented on #40
Hey @ctrlplusb, I've found a non-official solution for you. If you don't mind having your own version of `Filter` for now:

[code]

So this `Filter` is supposed to do the same thing as the other one, but it works :thinking:

[2019-08-22 13:12] pirix-gh commented on #40
@ctrlplusb, OK I've figured it out. This happens because the lib is stricter than it should. If you try:

[code]

TypeScript will tell you that `payload` can't be assigned to `state.value`. Why? Because `value` might actually been filtered out because it could be a `Function`. Quite clever!

Now, the lib is a bit stricter and tells you that it does not exist. It actually swallowed the above error.

[2019-08-22 13:12] #40 closed

[2019-08-22 13:43] ctrlplusb commented on #40
Wow man, thanks for this detailed insight into how TS works. Super helpful in further developing my understanding of TS.

I really appreciate your time on this.

I think I have enough information and understanding to utilise an alternative strategy.

Thanks so much again.

[2019-08-23 08:04] xaviergonz opened #41 "O.Writable doesn't work well with generics after update to 3.8.4"
Since 3.8.4 this got broken, it used to work in 3.8.3
[code]

[2019-08-23 17:45] #41 closed

[2019-08-23 17:46] pirix-gh commented on #41
Hey @xaviergonz, thanks for reporting this issue. It's fixed. Sorry for the inconvenience!

[2019-08-23 18:07] xaviergonz commented on #41
Thanks to you! Great project you got here :)

[2019-08-23 18:12] pirix-gh commented on #41
Thanks!

[2019-08-25 08:28] regevbr commented on #39
@pirix-gh thanks for investigating this.
My final result is keeping the code I already used...
[code]
Which produces the best results without any typescript extremely strange and long errors all over the place....

[2019-08-27 17:30] tonivj5 opened #42 "Build is broken in >3.8.19"
## 🐞 Bug Report

#### Describe the bug
Hi :smile_cat:! I have updated the lib to the latest and webpack is showing an error :cry:

In <3.8.19
![image](https://user-images.githubusercontent.com/7110786/63793219-8419a680-c8ff-11e9-899d-3e5bcdda757c.png)

In >3.8.19
![image](https://user-images.githubusercontent.com/7110786/63793282-add2cd80-c8ff-11e9-8879-5c878d145a9e.png)

I have installed some oth

[2019-08-27 18:29] pirix-gh commented on #42
Hey @tonivj5, thanks for reporting this!

This probably happened while migrating my release to Travis

Will fix this right away,

Cheers

[2019-08-27 21:14] pirix-gh commented on #42
@tonivj5 it's resolved manually, for now. It's an issue with Travis that needs more investigation.

[2019-08-27 21:16] tonivj5 commented on #42
Just I have installed 3.8.59 and I have seen that index.js came back :tada:. Thank you very much for your efforts. You're fast, boy :laughing::100:

[2019-08-28 10:00] #42 closed

[2019-09-05 12:14] dmfilipenko opened #43 "Correct type of currying"
## 🤔 Question

#### Describe your question
I've stuck with `React`, `Typescript`, and `Ramda`. I can't add a correct type for currying. Seems like ramda use underhood `ts-toolbelt` to add typing for a currying.
[code]
[code]

[2019-09-05 13:23] pirix-gh commented on #43
Hi @dmfilipenko, can you give me a smaller reproduction of the bug for me to copy-paste it?

Then, I'll look into it :smiley:

[2019-09-05 14:47] dmfilipenko commented on #43
@pirix-gh yeap, sorry. Here is a reduced example
[code]
got this
[code]

[2019-09-05 16:45] pirix-gh commented on #43
Sorry, I actually meant a self-contained example. In yours I don't know what `cond` does and I also don't have access to `SafePred`... Make it simple please, when reporting bugs, as we, maintainers, don't always have the time to make your specific code work. Open a new file and try to reproduce the bug independently from your source. Thanks

[2019-09-06 03:53] dmfilipenko commented on #43
@pirix-gh https://github.com/dmfilipenko/curry/ is this enough?

[2019-09-06 17:10] pirix-gh commented on #43
Hey @dmfilipenko, it's been fixed. Thanks for reporting this bug.

_PS: Remove & re-install ramda_

[2019-09-06 17:10] #43 closed

[2019-09-07 01:55] song888k opened #44 "Patch version is not incremental"
## 🐞 Bug Report

#### Describe the bug
I am using Microsoft DevOps Feed and reference npmjs as an upstream package source. When I try to "npm install ts-toolbelt", I got following errors:

Not for sure (I am checking with Microsoft support) but I guess the reason for this problem is that the patch version is not incremental strictly:
- 3.8.70
- 3.8.1567788970295
- 3.8.1567788972460
- 3.8.69

70 <

[2019-09-07 10:18] pirix-gh commented on #44
Oops, I missed a part of the version, I don't know how npm let this go through in the first place.

Thanks for reporting this @song888k so early, I can easily unpublish it now.

[2019-09-07 11:07] pirix-gh commented on #44
@song888k I did unpublish the packages but they are still visible on the npm package. So I am not sure if they we're unpublished correctly, and I'll have to contact npm.

Would you mind trying to install again and let me know if it works or not?

[2019-09-07 12:37] song888k commented on #44
Thank you for the quick action, @pirix-gh! But it still doesn't work. My guess is that unless those bad versions disappear from the response of https://registry.npmjs.org/ts-toolbelt, the problem will still exist.

[2019-09-07 12:45] pirix-gh commented on #44
Pleasure! I sent a request (email) to npm for them to delete these packages. I'll notify you when it's done :)

[2019-09-11 04:27] dmfilipenko commented on #43
It doesnt help still have
`ts-toolbelt`
`
"version": "3.8.63",
`

[2019-09-11 17:11] pirix-gh commented on #43
Yes, sorry @dmfilipenko for the misinformation. I submitted a PR to update the version on DefinitelyTyped a few days ago, you'll just have to wait for it to be merged.

[2019-09-11 20:44] edgarjrg opened #45 "Object.TupleOf returns Type instantiation is excessively deep and possibly infinite."
## 🤔 Question

#### Describe your question
How do I Use `Object.TupleOf`

[code]

I get
[code]
and the type of `tuple` is
[code]
ts-toolbelt@3.8.91

[2019-09-16 18:47] pirix-gh commented on #43
@dmfilipenko, it did update correctly. It seems like there was delays with the publication of the package.
That interruption could have been caused either by npm or the types-publisher. Back to normal.

[2019-09-17 02:42] dmfilipenko commented on #43
@pirix-gh 🙏thank you

[2019-09-20 11:29] xaviergonz opened #49 "Does v4 require TS3.5 or TS3.6?"
## 🤔 Question

Does v4 require TS 3.6 or it still works with TS3.5?

[2019-09-20 11:36] pirix-gh commented on #49
It should work with 3.5 too, are you experiencing any problems?

[2019-09-20 14:35] xaviergonz commented on #49
Not really, just wanted to make sure before upgrading a major version. Thanks!

[2019-09-20 14:35] #49 closed

[2019-09-22 20:47] xaviergonz opened #50 "O.Writable doesn't work well with generics after update to 4.0.10"
[code]
works ok with the latest version of 3

[2019-09-22 20:50] xaviergonz commented on #50
not sure if related to the old https://github.com/pirix-gh/ts-toolbelt/issues/41

[2019-09-23 09:43] pirix-gh commented on #50
Ping @xaviergonz. I've just fixed it, it was not related to #41, but related to the refactor of 4.0.
This happened when I brought out true type distribution. Not sure why, though, but it seems like type distribution (`X extends unknown`) can break a deferred generic evaluation, and evaluate it immediately instead.

Please do not hesitate to open a bug, or a question if you see anything else!

Chee

[2019-09-23 09:45] pirix-gh commented on #50
Build is not passing, let me fix this

[2019-09-23 10:55] pirix-gh commented on #50
It's out

[2019-09-23 10:55] #50 closed

[2019-09-23 10:58] pirix-gh commented on #44
I'm not sure this will ever get fixed. I sent 3 emails to npm, without a single reply -- what an deligthful customer experience.

[2019-09-23 11:38] xaviergonz commented on #50
Thanks! Will check it out later

[2019-09-23 19:19] xaviergonz commented on #50
Hmm, I don't see a new version

[2019-09-23 21:12] pirix-gh commented on #50
Sorry, about this. Got a false positive with the CI. It's out (for real)

[2019-09-24 18:15] xaviergonz opened #51 "Way to turn properties into X | null?"
Is there something like `O.Nullable` but that actually makes keys turn into `V | null`?
e.g.
[code]

[2019-09-24 20:19] pirix-gh commented on #51
Yes, you can use [Update](https://pirix-gh.github.io/ts-toolbelt/modules/_object_update_.html#update)

[2019-09-24 20:19] #51 closed

[2019-09-24 21:20] xaviergonz commented on #51
Is this supposed to work then? It doesn't for me
[code]

[2019-09-24 21:35] xaviergonz commented on #51
Nevermind, didn't work on 4.1.0 but works on 4.3.0

[2019-09-25 05:14] dmfilipenko opened #52 "Merge of Union"
## 🤔 Question

#### Describe your question

What is the best way to transform this
[code]
to something like this
[code]

[2019-09-25 10:23] pirix-gh commented on #52
Hi @dmfilipenko, I just released an upgraded version of `Either` for you. Now you can do this:

[code]

TypeScript does not perform excess property checks on unions, so I guess you'd rather use:

[code]

Cheers

[2019-09-25 10:23] #52 closed

[2019-09-25 12:27] dmfilipenko commented on #52
<3 thank you!

[2019-09-27 18:33] pirix-gh opened #55 "Distribute unions for recursive types"
## 🤔 Question

#### Describe your question

Union types tend to malfunction when used with recursive types for reasons that are internal to TypeScript and this library. But you can make it work, just distribute your union as needed:

[code]

#### Search tags, topics

[2019-09-27 18:33] #55 closed

[2019-09-30 12:06] mcpower opened #57 "O.P.Pick from arrays"
## 🍩 Feature Request

#### Is your feature request related to a problem?

In the APIs I'm working with, I have some nested properties - for example:

[code]

Some APIs only give a subset of data - in this case, only `Household.people.name` - which is a perfect fit for `O.P.Pick`. However, `O.P.Pick` doesn't support arrays natively, which results in types like these:

[code]

`HouseholdSubset.peopl

[2019-09-30 13:08] pirix-gh commented on #57
I don't mind having breaking changes when it comes to keeping up with ts. These are advanced types, so it makes sense that versions will break. However, I would recommend not breaking the behavior of the "default" behavior. Let me explain this: I like to keep very basic features (like "Pick", "Omit") the way they are because they're "basic", working and should stay that way. They're the building b

[2019-09-30 13:24] pirix-gh commented on #57
We could integrate these changes on the `next` branch for now

[2019-09-30 13:37] pirix-gh commented on #57
I don't think you'll be able to split in such a way that it resuses `PickObject` since type references don't exist. In this case, we should just move your version t `PickArrays` and the original one to `PickObject`.

[2019-09-30 13:49] pirix-gh commented on #57
This is annoying if we want to bring this feature to all the types...

[2019-10-01 11:42] vogre opened #58 "Broken compilation when using es2019 lib"
## 🐞 Bug Report

#### Describe the bug
Installing `ts-toobelt` v4.7.19 when using lib `esnext` or `es2019` causes compilation error in
[code]

Installing v4.7.18 does not cause this error

#### Reproduce the bug
Use this minimal `tsconfig.json`

[code]

#### Additional context
TypeScript 3.6.3

Only `es2019.array` is enough to trigger the error, although not clear what in https://github.com/micros

[2019-10-01 12:42] mcpower commented on #57
I don't understand - **`Tuple/Pick`** seems to be non-recursive, so I don't see how it can be "upgraded" to handle arrays.

Shouldn't the default be False to match the existing behaviour? This new behaviour should be opt-in to avoid breaking the default behaviour, if I'm understanding this correctly.

It may be annoying, but I think it should be doable - traversing the arrays can be relatively eas

[2019-10-01 12:51] pirix-gh commented on #58
Hi @vogre, thanks for reporting this issue. Looking into it

[2019-10-01 12:58] pirix-gh commented on #57
Sorry, I meant to upgrade the non-recursive counterpart al well.

Yes you're right!

[2019-10-01 13:36] pirix-gh commented on #58
It's fixed!

[2019-10-01 13:36] #58 closed

[2019-10-02 09:41] pirix-gh commented on #44
This should be fix

[2019-10-02 09:41] #44 closed

[2019-10-07 08:27] ruizb opened #59 "Type inference not working with F.Curry and generic function"
## 🤔 Question

#### Describe your question
Hello, it seems that I have a wrong type inference with typescript@3.6 and ts-toolbelt@4.8 when using the following:

[code]

I made a small project on codesandbox.io so you can check by yourselves: [click here to see it](https://codesandbox.io/s/priceless-glade-3f5d4?fontsize=14&module=%2Fsrc%2Findex.ts&view=editor).

Is type inference supposed to work w

[2019-10-07 09:58] pirix-gh commented on #59
Hi @ruizb, this is a TypeScript limitation that I explained in response to a similar comment in https://github.com/microsoft/TypeScript/issues/5453#issuecomment-478328124

So I'll close the issue now, but rest assured that this feature will land as soon as it became possible.

Cheers

[2019-10-07 09:58] #59 closed

[2019-10-23 20:20] JeremyJonas opened #62 "Recursively add property to nested objects of type"
## 🤔 Question

#### Describe your question
Is there a way with `ts-toolbelt` to recursively add a specific property to all nested objects of a given type?

Example of what I am trying to do:
[code]
Convert this to:
[code]

This would be very helpful in defining mocked data from server when using [Apollo's MockedProvider](https://www.apollographql.com/docs/react/development-testing/testing/) which

[2019-10-24 18:46] ekilah opened #63 "Performance issues with this lib and ramda"
## 🐞 Bug Report
Performance of DefinitelyTyped/ramda has suffered significantly with a recent upgrade (which relies on this library heavily now)

#### Describe the bug

Upgrading from `@types/ramda@0.26.21` to `@types/ramda@0.26.33` also upgrades `ts-toolbelt` from `3.8.4` to `4.7.7`. In my project, which uses Ramda frequently but not in any crazy manner, this one change in my `project.json` **dou

[2019-10-24 19:24] ekilah commented on #63
further testing:

`@types/ramda@0.26.23` is the latest update I can use w/o a significant increase in type-checking times. that version asks for `ts-toolbelt@^3.8.75` which resolves to `3.14.0`.

`@types/ramda@0.26.24` causes the slowdown, presumably because of the change to ask for `ts-toolbelt@^4.3.0` instead (currently resolves to `4.8.23`).

I also tried adding a [selective dependency resoluti

[2019-10-24 20:59] pirix-gh commented on #63
Hi @ekilah, thanks for reporting this. I'll investigate this.

Would you mind listing which ramda functions you use?

(And if possible, the code that is causing the problems)

[2019-10-24 21:58] ekilah commented on #63
@pirix-gh It's a big project so I don't think it comes down to one piece of code over another, so it'd be hard to say exactly what code the issue is manifesting at, but a doubling (actually, a bit more) of type-checking time makes me at least guess it's more to do with how often we use Ramda vs one block of code?

I have a gut feeling the change has to do with the `mergeDeepLeft/Right` and `mergeL

[2019-10-24 22:02] ekilah commented on #63
I could somewhat easily remove all of our uses of `mergeRight` and see what that does to the time it takes for the type-checker to run, since that function can just be replaced with the object spread operator - if you think that sort of test would be useful / if you agree that these `merge` functions might be the core of the problem, I can give that a go later, it'll just take some time to change

[2019-10-24 22:13] pirix-gh commented on #63
Thanks! This is what I was asking for on gitter. I also think it is to do with `merge`.

[2019-10-24 22:32] pirix-gh commented on #62
There is no magic solution. If you'd like to do this generically, you'd have to write a custom type.

[code]

[2019-10-25 06:36] ekilah commented on #5
Can you add an example of real code from this project that does this to this wiki entry? It's hard to understand if/how `x` and `X` are related in your pseudocode `<x> extends infer X ? <y>: never`.

[2019-10-25 09:51] pirix-gh commented on #5
You can check this [example out](https://github.com/pirix-gh/ts-toolbelt/blob/0182a00/src/Object/Assign.ts)

[2019-10-25 09:54] pirix-gh commented on #62
@JeremyJonas do you need a generic function to do this?

[2019-10-25 12:58] leebenson commented on #57
🎉 eagerly awaiting the 3.7 version - thanks @mcpower!

Any way to surface this quickly without forking your `OPPickArraysUnlimited` branch?

My immediate use-case is drilling into deeply nested GraphQL types which can arrays or scalars. This would be a huge help.

[2019-10-25 13:33] mcpower commented on #57
If you're worried about 3.7 support (like I was), and that's your *only* use case, you can use a variant which doesn't require 3.7 - but only "dives" into 1D arrays (an example implementation should be in the original post). Let me know if you're interested in this - I can probably whip up a utility type for you.

[2019-10-25 13:38] leebenson commented on #57
Thanks @mcpower. I have it working locally in v4.8.24, replacing a few of the internal types with publicly exported variants:

[code]

Not sure if those are exact 1:1 in all cases, but it seems to be working well.

For my use-case, I'm trying to modify this to get at just the _last_ path index, so instead of being typed as:

[code]

It'd be typed as:

[code]

I'm trying to drill into [GraphQL Code

[2019-10-25 13:41] leebenson commented on #57
Thanks. I'm using TS 3.7 quite extensively for this app, so happy for this to be 3.7 only, but appreciate your offer!

[2019-10-25 22:58] mcpower commented on #57
Unless I'm mistaken, it seems like you want a recursive/path version of [O.At](https://github.com/pirix-gh/ts-toolbelt/blob/master/src/Object/At.ts) instead of O.P.Path.

This is surprisingly non-trivial when it comes to nested arrays in the path... To do this with infinite nesting, we need a utility type to get the (nested) inner type of an array. However, this is impossible - [see this TS Playgr

[2019-10-25 23:29] mcpower commented on #62
@pirix-gh Manual nesting (`NestedSession`) doesn't seem necessary - see this code snippet:

[code]

Feel free to use this in any project - the above code snippet is free software released into the public domain.

[2019-10-26 02:26] mcpower opened #64 "O.Path improvements (distribution, arrays)"
## 🍩 Feature Request

#### Is your feature request related to a problem?
See @leebenson's [comment](https://github.com/pirix-gh/ts-toolbelt/issues/57#issuecomment-546357446) on #57.

#### Describe the solution you'd like
Something which can do something like this:

[code]

This follows on from the discussion on #57. From the previous discussion:

As an update to that, I believe this feature is imp

[2019-10-26 10:01] pirix-gh commented on #62
Yes you're right, I somehow missed the types were already nested :man_facepalming:

[2019-10-26 10:01] #62 closed

[2019-10-26 10:28] mcpower commented on #64
Silly me - I didn't realise `Object.Path` was in this library! Your `Query` implementation seems to be equivalent to an improved version of `Object.Path`.

I think improving `Object.Path` to fit this use case is probably better - in particular:

- distributing over O
- supporting arrays (should be gated behind a boolean flag in the library)

These two, in combination, should make `Object.Path` equ

[2019-10-26 10:30] pirix-gh commented on #64
Hi all, I'm not into GraphQL, but I believe this should work:

[code]

[2019-10-26 11:45] pirix-gh commented on #64
@leebenson `PathValid` is a bit off topic, I think. The docs were mistakingly copied with the ones of `Path`. Here's what it does https://pirix-gh.github.io/ts-toolbelt/modules/_object_pathvalid_.html#pathvalid

[2019-10-26 12:29] pirix-gh commented on #64
PS @mcpower the `PathUp` implementation is able to go through unions while `Path` isn't able to do this. And I used `number` to go through the `Array` like you suggested.

What do you think?

[2019-10-26 15:06] leebenson commented on #64
@pirix-gh - looks great!

I made a slight modification to drop the `number` requirement, which I think makes it a bit more readable in the case of a GraphQL 'lens':

[code]

Thanks so much to you and @mcpower for indulging my specific use-case! Really appreciate your time.

[2019-10-26 15:31] pirix-gh commented on #64
@leebenson I can't add your modified type to this lib, unfortunately. I need to follow some rules about consitency. And since we are talking about `Path`, `number` here means that we're going to access an index `number` on an `Array`. If your array was a `Tuple` you would be able to use `0 | 1 | 2...`.

So by acessing `number`, we mean to access anything within that `Array/Tuple`.

The second reas

[2019-10-26 15:37] pirix-gh commented on #64
[code]

[2019-10-26 15:39] leebenson commented on #64
👍 totally cool, my version only really applies to this limited use-case. Having the more flexible/general purpose as part of the lib is great.

Thanks again!

[2019-10-26 15:41] #64 closed

[2019-10-26 16:04] pirix-gh opened #65 "What are those types named with `...Up`?"
## 🤔 Question

#### Describe your question

I see that there are types like `Merge` and `MergeUp` and others. What does the **Up** stand for?

#### Search tags, topics

#up

[2019-10-26 16:06] pirix-gh commented on #65
The **Up** usually means that the type is a counterpart of another type that is able to handle **`Union`s**. It goes "up" within the union and is an **up**grade of its non-up counterpart.

[2019-10-26 16:06] #65 closed

[2019-10-28 03:00] ekilah commented on #63
Summarizing our findings so far:

using `yarn run tsc --extendedDiagnostics`, we saw that the `Check time` was around 52 seconds long in my prohect with these newest types for `ramda`. By only changing the return type on `mergeRight` we saw that time go down to 26 seconds!

So, I started to narrow down the 48 usages of `mergeRight` to see which of them were causing issues. While removing several u

[2019-10-28 16:27] JeremyJonas commented on #62
This works perfectly. I had to actually remove the A.Compute because that was causing the outcome to be `any`, while removing it output correctly nested types as expected.

Thank you!

[2019-10-28 16:29] JeremyJonas commented on #62
This works perfectly. I had to actually remove the A.Compute because that was causing the outcome to be `any`, while removing it output correctly nested types as expected.

Thank you!

This works great, thanks @pirix-gh! Exactly what I was looking for (minus the additional nested type as mentioned ;)

[2019-10-28 22:28] #63 closed

[2019-10-28 22:37] pirix-gh commented on #63
It was actually a little mistake, with big consequences. A mapped type in a mapped type... So for an object of 500 properties, it escalated 500 iterations to 250000.

Thanks to this, I went through the whole codebase and optimized other types that are used everywhere (like `...Keys` types). This should provide better performance overall (but not tremendous improvements).

Let me know of the new st

[2019-10-31 20:37] pirix-gh opened #66 "[4.9.0] dropping type distribution / union handling by default"
The provided utilities will **no longer handle unions by default**, unless the utility itself is designed to handle them.

**Why?**

This library needs to **stay 1:1** with TypeScript, and TS does not distribute types by default (I think of the base utility `keyof`). `keyof` is one of the cornerstones of TS, used everywhere within the library. So it would make sense that we keep logic on this leve

[2019-10-31 21:39] #66 closed

[2019-11-01 10:46] pirix-gh opened #67 "[4.9.0] clearer documentation"
The clutter has been removed out of the documentation site. It previously had mixed internals as well as the exposed API, which was confusing.

[2019-11-01 10:46] #67 closed

[2019-11-02 00:04] qwelias opened #68 "TypeScript 3.6.4 incompatible"
`ts-toolbelt@4.9.30`
[code]

[2019-11-02 03:00] eyexpo-thomas commented on #68
`npm list ts-toolbelt` will show you which package is importing ts-toolbelt so you can deal with it.

[2019-11-02 10:07] pirix-gh commented on #68
Hi @qwelias, thanks for reporting this. Investigating it.

[2019-11-02 10:19] pirix-gh commented on #68
Hi @qwelias @eyexpo-thomas, thanks for reporting this.

This seems to be only related to 3.6.4 only.

I'm going to make sure this does not happen again by testing each single version of TS that is supported before the release (with the CI).

[2019-11-02 10:36] #68 closed

[2019-11-02 10:37] pirix-gh commented on #68
Fixed, it'll be out in a few minutes. https://travis-ci.org/pirix-gh/ts-toolbelt/builds/606383083

[2019-11-02 10:44] pirix-gh opened #69 "Test against all TS versions on the CI"
The CI must test against all supported TS versions. To achieve this, we can use the the `dt` repository to run our tests `tst`. We already use this to test `dt` dependents, so the idea is to add a `ts-toolbelt-tests` folder in the dependents where its tests are the ones of `ts-toolbelt` (copied over every build).

This should be easy to achieve, simple copy-paste, and some search & replace.

We ju

[2019-11-06 20:10] ekilah commented on #63
today (`ts-toolbelt@4.9.32`):

[code]

which is great. I can save 3 more seconds by removing those `R.mergeRight`s still though, so I'll still leave them out, but that's a major improvement nonetheless.

[2019-11-06 20:18] pirix-gh commented on #63
Hi @ekilah, is there a regression again?

[2019-11-06 20:37] pirix-gh commented on #63
Oh I see, not a regression. I'll try to allocate some time in the future to see if this type can be shortened. Not sure it can, though. I'll let you know

[2019-11-06 21:10] ekilah commented on #63
oh, no, sorry, I just wanted to show the conclusion for anyone seeing this issue later!

[2019-11-13 16:22] weakish opened #70 "Some utility types are already available in TypeScript itself?"
For example, `Exclude` and `NonNullable`.

[2019-11-13 18:36] pirix-gh commented on #70
Yes, I re-wrote all the types from scratch, there are no dependencies to TypeScript's utilities. You can chose the one you prefer. And the types provided in this package are subject to change, take a look at `Record`, you will see that it has extra options.

[2019-11-13 18:36] #70 closed

[2019-11-14 19:49] pmarshall opened #71 "TS 3.6: Creating a type for "all the optional properties of T, turned mandatory" creates error"
## 🐞 Bug Report

#### Describe the bug
I'm using React, and have created a type for the defaultProps object. The idea is to take a type, strip it of required properties, then turn the remaining (optional) properties into required properties. This worked great in ts-toolbelt version 4.8 with TypeScript 3.5, but now fails in ts-toolbelt version 4.10 with TypeScript 3.6. (The ts-toolbelt 4.8 version

[2019-11-14 20:50] pirix-gh commented on #71
Hi @pmarshall, sorry about this. This happened after optimizing performance on `Keys` types. The fix will be out in a few minutes https://travis-ci.org/pirix-gh/ts-toolbelt/builds/612061398.

Another thing, be aware (and careful) that doing `K in O.OptionalKeys<T>` will cause to lose a type's field modifiers (you will lose `readonly`, `?`). See this example where I've just removed `-?`:

[code]

T

[2019-11-14 20:50] #71 closed

[2019-11-15 18:31] pmarshall commented on #71
Wow, that was a fast fix. I'm very impressed at your dedication to this project.

[2019-11-15 19:13] pirix-gh commented on #71
You're welcome! Type safety is very important to me

[2019-11-30 10:40] pirix-gh commented on #67
@all-contributors please add @pirix-gh

[2019-11-30 10:41] pirix-gh commented on #67
@all-contributors please add @pirix-gh for docs

[2019-11-30 19:44] pirix-gh commented on #63
Just to ping, I successfully improved performance of `MergeUp` (again) as well as type correctness (where it had an unsound behavior for one edge-case).

So if you feel like you want to update, feel free to do it. However, I don't think the performance will change very much, it's more about the better (100%) type-safety.

[2019-12-02 23:23] vogre opened #74 "Clean/Ensure type instantiation is infinitely deep when using an index signature"
## 🐞 Bug Report

#### Describe the bug
Encountered when trying to use `ramda` `merge(a: { [key: string]: string }, b)`.

#### Reproduce the bug
[code]

#### Additional context
Happened in `ts-toolbelt` v4.12.11

[2019-12-03 10:45] pirix-gh commented on #74
Hi @vogre, really sorry about this. The fix is out in a few minutes!

https://travis-ci.org/pirix-gh/ts-toolbelt/builds/620057580

So you can just reinstall ramda and the bug should be gone.

[2019-12-03 11:12] #74 closed

[2019-12-16 17:23] ProdigySim opened #76 "How not to provide the keys for "deep" types every time?"
## 🍩 Feature Request

#### Is your feature request related to a problem?
No.

#### Describe the solution you'd like
[code]
Using `Object.Optional` is very handy. But if you want to use the `'deep'` option, it requires filling in the optional `K` parameter as well. For most cases where I want to use a deep-optional object, I'd like to use the default `K = keyof T` argument, so it's inconvenient to

[2019-12-16 20:00] pirix-gh commented on #76
Hi @ProdigySim,

This is something that is not well documented, but you can do:

[code]

[2019-12-16 20:58] ProdigySim commented on #76
Ah, that's definitely a lot better than having to duplicate the first type parameter. I think an alias could still be nice, but the `any` workaround does remove a lot of the need.

[2019-12-17 10:56] pirix-gh commented on #76
I'm marking this as resolved, as on of my goals is to provide a unified API for the type utilities (no duplicates). I feel like typing `any` is short enough not to create a new alias.

Cheers

[2019-12-17 10:56] #76 closed

[2019-12-17 18:14] imahassle opened #77 "O.OptionalKeys<O> returns all keys in TS 3.7"
## 🐞 Bug Report

#### Describe the bug
`O.OptionalKeys<O>` is returning a set of keys that includes required keys, not just optional keys in TypeScript 3.7.3.

`O.RequiredKeys<O>` has a similar issue in always returning as `never`.

#### Reproduce the bug
[code]

#### Expected behavior
I expect only the set of keys in a type marked optional (`?`) to be returned.

#### Additional context
TypeScript

[2019-12-17 18:45] pirix-gh commented on #77
Hi @imahassle,

Everything seems right on my side

[code]

Optional key here is "world" and
Required key here is "hello"

In your sentence, it is the other way around

[code]

[2019-12-17 22:02] imahassle commented on #77
Ah, yes I did get it flipped around.

But the issue persists locally for me:

![image](https://user-images.githubusercontent.com/4740213/71038040-cc8ae900-20d5-11ea-9e50-1a4f11437608.png)

[2019-12-18 10:31] pirix-gh commented on #77
Strange, I'm also on:

TypeScript: 3.7.3
ts-toolbelt: 4.14.0
VSCode: 1.41.0
Node.js: 12.4.0

Are you using VSCode?

If so:
- please change the ts version in the bottom right corner & back to 3.7.3
- remove node_modules, package-lock.json, and re-install

Did this work?

[2019-12-18 18:37] imahassle commented on #77
Nuked my `node_modules` and `package-lock.json` and re-installed, same issue.

Do my TS libraries make a difference?

Part of my `tsconfig.json`:
[code]

I'm not aware of anything else that may make a difference.

[2019-12-18 18:53] pirix-gh commented on #77
Found the culprit. Please enable:

[code]

If you can do that for now. I'm going to investigate why this happens exactly.

Thank you for reporting this bug!

[2019-12-18 18:58] imahassle commented on #77
Oh that worked for me! We currently don't have strict turned on for our project. I'll have to see if it breaks anything on our side 😬

Thanks for the fast response!

And thanks for this awesome project! It's super helpful. 😁

[2019-12-18 18:59] pirix-gh commented on #77
Thanks for the compliments! Now thanks to you, we can see there are lots of tests failing. Gotta work on it:

[code]

[2019-12-18 19:09] imahassle commented on #77
Yup, our project isn't ready to go with strict checking, though it's a work in progress.

For now, my workaround is to resurrect the old version of OptionalKeys:
[code]

[2019-12-18 21:08] pirix-gh commented on #77
Ok, you can update to the latest version and:

[code]

And if you still cannot enable this, good news:
=> **Only NonNullableKeys, CompulsoryKeys & NullableKeys are affected**

Cheers

[2019-12-18 21:08] #77 closed

[2019-12-22 15:40] pirix-gh opened #78 "[6.0.0] union handling is now a default"
I previously disabled union handling (distribution) by default. The reason behind this is that some types are simply hard to distribute. But it is now re-enabled, and it makes this library 100% compatible with `unions`.

There is a set of rules (in my notes in `index.ts`) that need to be checked manually to enable proper distribution. For you it should change nothing, it will work as you expect it

[2019-12-22 15:40] #78 closed

[2019-12-22 16:29] pirix-gh opened #79 "Documentation is not generating"
## 🐞 Bug Report

#### Describe the bug

This is to do with the type distribution, typedoc wants to evaluate it...

#### Reproduce the bug
[code]

#### Expected behavior

#### Possible Solution

#### Screenshots

#### Additional context

[2019-12-28 13:51] jhnns opened #82 "How to create opaque types?"
## 🍩 Feature Request

#### Is your feature request related to a problem?
While structural typing is great, it sometimes is desirable to have nominal typing: https://codemix.com/opaque-types-in-javascript/

#### Describe the solution you'd like

[code]

Taken from: https://github.com/sindresorhus/type-fest/blob/9ffc7c8a02358c7d0bac1ed62bdf183ed26a0546/source/opaque.d.ts

#### Describe alternatives

[2019-12-28 14:25] tonivj5 commented on #82
I think it's named [Type](https://pirix-gh.github.io/ts-toolbelt/modules/_any_type_.html) in this package

PD: Thanks for the blog post :smile:

[2019-12-28 15:28] pirix-gh commented on #82
Thanks @tonivj5 , it's denifitely that :taco:

Hey @jhnns, I have a slightly different implementation. It's closer to the one from that nice blog article you linked. The reason why I chose to pass an `Id` instead of `unique` is that it is actually more type-safe:

[code]

I'm marking this as a question, for the wiki.

[2019-12-28 15:42] #82 closed

[2019-12-29 00:37] #79 closed

[2019-12-30 17:09] #57 closed

[2019-12-30 17:12] pirix-gh commented on #57
This is not an issue anymore thanks to @mcpower

[2019-12-30 17:14] millsp opened #83 "Make `Update` able to handle arrays"
## 🍩 Feature Request

#### Is your feature request related to a problem?

#### Describe the solution you'd like

#### Describe alternatives you've considered

#### Teachability, Documentation, Adoption, Migration Strategy

[2019-12-30 17:15] pirix-gh commented on #83
@mcpower If you have time to do this, otherwise I'll do this a bit later

[2019-12-30 18:41] pirix-gh commented on #55
Type distribution is now a default. So you don't have to worry about your unions anymore. I recommend that you remove any `extends unknown` in favor of the utility only to avoid unnecessary load.

cc @Andarist @ctrlplusb

[2019-12-31 10:18] xaviergonz opened #84 "expression is not callable when using O.Writable"
Worked ok in 4.x, doesn't work in 6.x
TS 3.7.4

[code]

[2019-12-31 10:31] pirix-gh commented on #84
Hi @xaviergonz, thanks for reporting his. I'm going to push a fix soon.

[2019-12-31 10:44] pirix-gh commented on #84
Hold on, it's out in a few minutes! https://travis-ci.org/pirix-gh/ts-toolbelt/builds/631255536?utm_source=github_status&utm_medium=notification

Cheers

[2019-12-31 10:44] #84 closed

[2019-12-31 10:57] xaviergonz commented on #84
That was fast, thanks!

[2019-12-31 11:28] pirix-gh commented on #84
Like Speedy Gonzales :mouse::dash:

[2020-01-01 18:25] sanex3339 opened #85 "Get union of enum values"
## 🤔 Question

#### Describe your question
Hi. Here is any way to get union of enum values?
Tried many things, none of them is worked

[2020-01-01 20:38] pirix-gh commented on #85
Hi @sanex3339, the `enum` itself kind of works like a union:

[code]

https://www.typescriptlang.org/docs/handbook/enums.html

Did this solve your problem?

[2020-01-01 20:45] #85 closed

[2020-01-01 21:07] sanex3339 commented on #85
I'm want something different.
[code]

[2020-01-01 23:06] pirix-gh commented on #85
It's a reference, you can't change it/do that.

[2020-01-01 23:08] pirix-gh commented on #85
You should try to replace your enum with plain objects, make a helper library if you really need this.

[2020-01-06 12:27] maroon1 commented on #83
Exciting, I am just searching a way to convert a instance array(tuple) to constructor type array(tuple).

[2020-01-06 14:14] pirix-gh commented on #83
@maroon1 can you provide a full example of what you are trying to do?

[2020-01-06 14:37] maroon1 commented on #83
[code]
For example:
[code]

[2020-01-06 15:57] pirix-gh commented on #83
You issue isn't related to this one:

For your problem, you needed to use `Cast` and `as const`:

[code]

[2020-01-08 17:16] #69 closed

[2020-01-08 17:17] VanTanev opened #86 "Object.Paths<T> can't be used with objects that contain arrays/tuples?"
## 🤔 Question

#### Describe your question
I am trying to write a function that will typecheck if the path it receives is a valid path for a given object:
[code]

If the object doesn't contain arrays, the function seems to behave correctly.

#### Search tags, topics
#typescript #get #object #path #tuple

[2020-01-08 19:27] tao-cumplido opened #87 "function parameter name inference with UnNest"
## 🤔 Question

[code]

I have no idea how typescript handles parameter names at all, but in the above example `X` is inferred to `(head: string, head: number, head: string, c1: boolean, c2: string) => void`. So apparently only the parameters names of the last function are preserved.

Do you know if it would be possible to preserve all the parameter names?

Other solutions I tried didn't preserve a

[2020-01-09 11:11] pirix-gh commented on #87
Hi @tao-cumplido, no it is not possible to preserve the names, unfortunately. This is a typescript limitation. But this is what you could do:

[code]

[2020-01-09 11:11] #87 closed

[2020-01-09 12:40] pirix-gh commented on #86
Hi @VanTanev, there is such a feature already available, take a look at https://pirix-gh.github.io/ts-toolbelt/modules/_object_pathvalid_.html#pathvalid

[2020-01-09 13:33] pirix-gh commented on #86
You must not forget to use `as const`, otherwise your tuples will be transformed into arrays.

[2020-01-09 13:33] #86 closed

[2020-01-09 20:34] VanTanev commented on #86
@pirix-gh Thanks for the response.

I ultimately had to change the traversal to allow path to resolve to multiple values with `*` placeholders for array values, which makes it impossible to strictly type the path anyway.

Just wanted to mention that the examples in [PathValid](https://pirix-gh.github.io/ts-toolbelt/modules/_object_pathvalid_.html#pathvalid) gives me the following error for the `fo

[2020-01-09 20:50] pirix-gh commented on #86
Thanks, yep, I saw that. I fixed it in the latest version. It was overly complex (written long ago) so I simplified it.

I'd be interested to see your final implementation!

[2020-01-09 21:04] VanTanev commented on #86
It's... uh... not exactly the cleanest code, but it seems to do what I need.

[code]

[2020-01-23 10:35] ctrlplusb opened #88 "How can I improve type readability?"
Hi @pirix-gh

Hope you are doing well. Good to see that `ts-toolbelt` is continuing to grow. 💜

A quick question for yourself...

Is there any mechanism by which I could improve the legibility of the types generated when using the `ts-toolbelt` types.

For example, when using combinations of `Pick`, `Filter`, `Select` on an object type the generated type becomes realllllly long.

Could I compact t

[2020-01-23 13:32] pirix-gh commented on #88
Hey Sean, glad to see you again, happy new year!

Are you having this issue when using generics?
If this is not the case, would you mind providing with an example, repo link?

In this case, we can mitigate it like this:

[code]

This will cause ts not to expand the types too far. Then on my side I can work on improving this, so that you can get even shorter types.

[2020-01-24 21:21] pirix-gh commented on #88
@ctrlplusb did this help you? Can I close this issue?

[2020-01-27 09:43] jhnns commented on #82
Thanks for clarifying @pirix-gh 👍. I'm a little bit surprised that one `unique symbol` is assignable to another `unique symbol`. Just being curious: do you know why? :)

[2020-01-27 10:01] ctrlplusb commented on #88
Sorry, been distracted. Will give this a thorough test soon. We can close it in the interim if you like. I'll report back if it doesn't work as expected. 👍

[2020-01-27 10:26] pirix-gh commented on #82
Well, (from my experience) I think this happens because that symbol is not tied to any variable (but a type instead). The type describes that it can be a `unique symbol` so it can really be any `Symbol` you'd like.

So if you wanted a really unique symbol, you'd have to do:

[code]

Which is not something that we can do dynamically. This is why I chose this implementation instead :)

Cheers

[2020-01-29 08:12] jhnns commented on #82
Makes sense 👍. Picking an arbitrary id from a global namespace is not an ideal solution, but probably the best we can do :)

[2020-02-12 04:57] mesqueeb opened #89 "Types of property 'nested' are incompatible."
## 🤔 Question

#### Describe your question

I wonder about how to best merge objects without generating errors.

I have an object I don't know the type of but might look like:
[code]
later I want to do `origin.nested.a = 'yes'` so I need to edit the type.
[code]
However, I get this error when creating `_origin`:
[code]
#### Search tags, topics

#typescript #merge #incompatible

[2020-02-12 05:01] mesqueeb commented on #89
The solution is this instead:
[code]
I forgot to make `a` optional `a?:` before assigned that value

[2020-02-12 05:01] #89 closed

[2020-02-12 05:14] mesqueeb opened #90 "Use Object.Merge with unlimited arguments"
## 🤔 Question

Hi @pirix-gh,
Thanks so much for providing this library! What a cool one.

#### Describe your question

I have a question about merging multiple objects deeply.

## The Question:

## The background:

For you to understand my clear question, I need to give you some background on what I got so far:

First, I made a function that can deep-merge objects like so:
[code]

In some cases ju

[2020-02-12 06:16] mesqueeb commented on #90
This is what I came up with.
Still needs more testing, but I thought I'd let you know:

[code]

I use it like so:
[code]

[2020-02-12 07:25] mesqueeb commented on #90
@pirix-gh I wanted to give another update.
I tried with your `Object.Assign` function, but this doesn't seem to do deep assigns.
[code]
gives me this shallow merged type:
<img width="334" alt="image" src="https://user-images.githubusercontent.com/3253920/74312101-55f82800-4db4-11ea-8956-915ee21cc075.png">

[2020-02-13 02:30] mesqueeb commented on #90
@pirix-gh are you able to help me with this problem? 😅

[2020-02-13 10:41] pirix-gh commented on #90
Yes, sure. You can use this version in your project:

You got that error because you did not specify the sub-type of `T1` & `T2`. In my code below, I used `O extends object`.

[code]
*/
export type AssignDeep<O extends object, Os extends List<object>> =
    O extends unknown
    ? Os extends unknown
      ? _AssignDeep<O, Os>
      : never
    : never

type t = AssignDeep<{}, [{a: {b: 1}}, {a: {c:

[2020-02-13 12:55] mesqueeb commented on #90
@pirix-gh
Hi, your snippet is the exact same thing as in my PR. 😄
But sadly, it still doesn't work for my use case.

<img width="735" alt="image" src="https://user-images.githubusercontent.com/3253920/74436425-c6cd3c00-4ea9-11ea-8f95-639829036591.png">

You can see `test` says `any`.

My JavaScript "deep" merge function has some rules I wanted to enforce. Mainly:
- when merging `{a: number}, {a: s

[2020-02-13 14:53] pirix-gh commented on #90
I made the feature request available in https://github.com/pirix-gh/ts-toolbelt/commit/7c684b4734dc7ee04a2e33ea3e02b1c6046c41f0

[2020-02-13 15:14] pirix-gh commented on #90
Tests were not needed because it used already tested `Merge` & `MergeUp`.

[2020-02-13 15:14] #90 closed

[2020-02-16 01:41] mesqueeb opened #92 "O.Merge and O.Assign have different behaviour with optional props"
## 🤔 Question

#### Describe your question

There seems to be different behaviour between O.Merge and O.Assign when it comes to optional props. I'm trying to create a function that "merges" an object **onto a defaults object**, so the result will always have all required props.

[code]
returns:
<img width="226" alt="image" src="https://user-images.githubusercontent.com/3253920/74597801-9bfd0680-50

[2020-02-16 13:34] pirix-gh commented on #92
The thing is that with `Assign` the last-in wins. I'm going to release a type for this. Just hold one please.

[2020-02-16 13:50] pirix-gh commented on #92
`npm install ts-toolbelt@6.3.0`

The utility is called `Compact`.

[2020-02-16 13:50] #92 closed

[2020-02-17 02:48] mesqueeb commented on #92
@pirix-gh
Thank you very much. The new `Compact` seems to work in my use-case.

While checking the docs I felt compelled to make a PR to add some examples to the docs.
Especially the exact differences between:
- Assign
- Compact
- Merge
- all Up variants

are a bit unclear for newer developers I think. Tbh. I still don't fully understand when I should use the `Up` variants, even after reading [thi

[2020-02-17 13:18] pirix-gh commented on #92
I don't have time now, sorry about that:

- Assign: Works like assign in JS, the last objects in the list overrides the previous ones.
- Compact: Works the same, but properties don't override as they merge they just complete and leave first overlapping properties untouched. This is why it's called `Compact`.
- Merge: It's simple. It merges from right to left (all the tools work from right to left)

[2020-02-17 13:28] pirix-gh commented on #92
@mesqueeb You are free to add examples :) I'd be very glad if you could. Thank you!

[2020-02-19 18:26] smoogly opened #93 "Object.path doesn't handle nullable and optional values correctly at last hop."
## 🐞 Bug Report

#### Describe the bug
Object.path doesn't handle nullable and optional values correctly at last hop.

#### Reproduce the bug
[code]

#### Expected behavior
Expected code above to return `number | null | undefined`, since this is the value at the path. Returns `number` in v6.3.0

[2020-02-19 20:16] smoogly commented on #93
I've tried swapping the order of operations between `NonNullable` and `At`, which I believe solves this problem, but it causes tests for `O.MergeUp` and `O.Nullable` to fail and I'm not sure I understand why.

[code]

[2020-02-20 10:22] pirix-gh commented on #93
Hi @smoogly, thanks for reporting this. There's a `strict` option that is supposed to handle that:

[code]

But it does not behave like you said. So I'm going to fix this.

[2020-02-20 11:01] #93 closed

[2020-02-20 11:02] pirix-gh commented on #93
Your fix is out in a few minutes, thanks!

[2020-02-23 14:13] whzx5byb opened #94 "Use unique symbol in Any.Type"
import { A } from 'ts-toolbelt';

    type S = A.Type<Object, 'foo'>;
    const s: S = {__type: 'foo'}; // expected an error, but succeed.

Use unique symbol could fix this issue.

Any/Type.ts

    export type Type<A extends any, Id extends string> =
        A & {__type: Id}
replace it with:

    const UniqueSymbol = Symbol()
    export type Type<A extends any, Id extends string> =
        A & {[K

[2020-02-23 16:25] pirix-gh commented on #94
Thanks for tip. It will be out in a minute.

[2020-02-23 23:06] pirix-gh commented on #94
Issues with ts 3.9.0-dev are blocking, needs investigation. Sorry.

[2020-02-24 09:12] whzx5byb commented on #94
Could you please tell whats the issue?

[2020-02-24 10:43] pirix-gh commented on #94
The tests are failing on `MergeUp` and it needs more investigation.

[2020-02-24 10:44] pirix-gh opened #95 "Tests are failing on `MergeUp` ts-3.9.0-dev"
## 🐞 Bug Report

Tests for `MergeUp` previously worked. We need to investigate what exactly has changed and why.

#### Describe the bug

#### Reproduce the bug
[code]

#### Expected behavior

#### Possible Solution

#### Screenshots

#### Additional context

[2020-02-25 17:58] ahejlsberg opened #96 "Change needed to prepare for TS #36696"
With https://github.com/microsoft/TypeScript/pull/36696 we treat intersections of object types with discriminant properties of disjoint types as eqivalent to `never` (the empty type), since objects of such types are not possible to construct. This change causes the DefinitelyTyped test suite for `ramda` to fail, which in turn is caused by an issue in `ts-toolbelt`. Specifically, module `List/Merge

[2020-02-26 11:37] pirix-gh commented on #96
Thanks for the PR, glad it got implemented. I will propagate the change through the library. And it probably explains the reason why my tests were failing #95

thx

[2020-02-26 13:38] pirix-gh commented on #94
fixed

[2020-02-26 13:38] #94 closed

[2020-02-26 13:39] pirix-gh commented on #95
fixed

[2020-02-26 13:39] #95 closed

[2020-02-26 13:39] pirix-gh commented on #96
fixed

[2020-02-26 13:39] #96 closed

[2020-03-10 07:10] AnyhowStep opened #97 "Any.Equals<> is broken"
## 🐞 Bug Report

#### Describe the bug
`Any.Equals<>` is broken

TS 3.0, TS 3.1, TS 3.5.1 and TS 3.8

#### Reproduce the bug
[code]

#### Expected behavior

Expected `0`

#### Possible Solution

#### Screenshots

![image](https://user-images.githubusercontent.com/5655961/76288246-aca23600-627c-11ea-887f-fcfa0d7f8645.png)

#### Additional context

http://www.typescriptlang.org/play/?ssl=1&ssc=1&pln

[2020-03-10 22:04] pirix-gh commented on #97
fixed

[2020-03-10 22:04] #97 closed

[2020-03-18 11:23] delucis opened #98 "How can I filter an object by another’s values?"
## 🤔 Question

#### Describe your question
Say we have an interface with some fields:

[code]

and a function that takes an object to select fields from that interface:

[code]

How could we type the return such that it excludes fields in `Data` that are not `true` in the options object provided to `select`?

Thanks!

#### Search tags, topics
#typescript #object #filter #exclude

[2020-03-18 12:00] pirix-gh commented on #98
It isn't possible so easily. Though it might be possible through writing you own custom type. First of all, start writing the type that will perform this:

[code]

Then, you integrate the type to your function by casting its result:

[code]

I find this cumbersome. It is good to try to summarize TypeScript types. Even though this library can allow you to do such computations, you should not try to

[2020-03-18 12:05] delucis commented on #98
@pirix-gh Thank you! Perhaps I should be less precise, it just seemed like it would be nice given the strict coupling between input and output. Thanks also for these great tools! 😃

[2020-03-18 12:09] #98 closed

[2020-03-18 12:11] delucis commented on #98
Oh, although I notice that at least with the `strict` compiler option the `as const` assertion isn’t necessary, which was the main thing I disliked as it’s user-facing. Nice! Thanks again for your help.

[2020-04-01 04:12] ctrlplusb opened #99 "New type request - IncludesDeep (i.e. recursive includes)"
## 🍩 Feature Request

Hi @pirix-gh 👋

I hope you and your family are safe during this troubling times. 💜

I have a feature request for you. I am in need of the behaviour of `Includes`, however, I would like it to recursive through the object type tree. I need this as I have some logic in a type mapper/reducer that will execute logic depending on their being an instance of a specified type on a typ

[2020-04-01 04:28] #88 closed

[2020-04-01 12:01] pirix-gh commented on #99
Hi Sean, thanks, I hope you are doing well too.

This seems quite easy to do. I just have a question. Would it return true as soon as it found `M` on any level of depth?

If this is the case, I can write a recursive type that will take the object and make it a union `N` times (the depth). And check at the same time if the type `M` is matched. And return true whenever this is the case.

[2020-04-01 12:35] ctrlplusb commented on #99
Hey @pirix-gh;

Yep, exactly that is how I imagined it. Eager return if any instance is found.

Amazing, thank you for considering this. 🌟

[2020-04-01 16:54] pirix-gh commented on #99
Hey,

I am not sure if I am going to integrate this yet. This is very specific. I think that I might create a "community" knowledge base where some types can be copy pasted but not necessarily shipped with. Because there are a few edge cases that I am not willing to cover for simplicity's sake. There are some folks that have edge cases with GraphQL too, so I think that this could land into a commu

[2020-04-01 19:35] tdreyno opened #100 "Feature Request - Function.Partial"
## 🍩 Feature Request

#### Is your feature request related to a problem?

I am adding a function which partially applies functions in my library and would love a type to represent it. These kind of variadic types are hard to write and maintain, which is why ts-toolbelt is so great.

#### Describe the solution you'd like

I would like to see a `Function.Partial` (or maybe another name so as to not

[2020-04-01 19:47] pirix-gh commented on #100
Hi @tdreyno, I think that we have a good building block for this. https://pirix-gh.github.io/ts-toolbelt/modules/_function_curry_.html

It is able to handle placeholders in any position. When using a placeholder, just make sure that it is of type https://pirix-gh.github.io/ts-toolbelt/modules/_any_x_.html

This version could bring a `Partial` application type, with a few modifications of course. C

[2020-04-01 21:21] ctrlplusb commented on #99
Awesome! Thanks for this @pirix-gh 💜

Completely agree with you that a pragmatic approach should be taken towards integrating additional APIs in order to avoid bloat.

I like the idea of having a separate location in which to showcase these additional APIs. It provides the additional benefit of being able to see how much adoption/value the community derives from them, and may even highlight good c

[2020-04-02 10:53] pirix-gh commented on #99
It's out! I've opened a new `Community` module. Cheers!!

[2020-04-02 10:53] #99 closed

[2020-04-03 09:58] pirix-gh opened #101 "Curry performance"
## 🐞 Bug Report

#### Describe the bug

Any benchmark for the Curry type? My CPU is about to explode when I use the curry function from ramda which uses ts-toolbelt.

@nthypes

#### Reproduce the bug
[code]

#### Expected behavior

#### Possible Solution

#### Screenshots

#### Additional context

[2020-04-03 09:59] pirix-gh commented on #101
Hey @nthypes, can you provide additional context?

- Your code
- TS version
- Ramda version (types)

[2020-04-04 09:50] Martaver opened #102 "How to prevent types from overflowing?"
## 🤔 Question
ts-toolbelt has been a revelation for me. I always felt typescript had great potential but fell short on tooling for its type system and ts-toolbelt delivers on that. As a result I've been more adventurous with my type programming, so thank you!

As a result of my newfound adventurousness, I find myself coming up against performance problems in type computation, resulting in poor int

[2020-04-04 10:33] pirix-gh commented on #102
Usually  you don't hit these kind of errors with simple types. But this is likely to happen with recursive types, which are not officially supported type TypeScript but by ts-toolbelt instead.

TypeScript is smart and it forces you to keep a type count before it tells you `Type instantiation is excessively deep and possibly infinite`. This should force you to:
- Keep your types short and neat
- Ke

[2020-04-04 10:43] #102 closed

[2020-04-04 10:45] Martaver commented on #102
Wow! Thanks for the write up!

I understand the 50 instruction limit okay, it makes sense... in my case my types are complex, involving higher-kinded types but at least in theory they shouldn't be recursive.

The difficulty for me is tracing typescript's computation logic... it COULD be that I've introduced a recursion somewhere unexpectedly... but how can I discover this?

Also, what counts as a

[2020-04-04 11:11] pirix-gh commented on #102
I agree, it is difficult to trace those errors. You can either start compiling your own version of TypeScript so that you can display useful info... Or, you can use the `--extendedDiagnostics` flag which will give you a somewhat clearer understanding of how your type is behaving. You'll be able to see your type count there.

What I call a single instruction is basically either a (naked) `extends`

[2020-04-04 11:11] Martaver commented on #102
I also noticed that in 3.9.0, my `excessively deep` type error goes away... I'm speculating that this is to do with the optimisations they introduced (https://devblogs.microsoft.com/typescript/announcing-typescript-3-9-beta/#speed-improvements)

Any insight into whether the new version changes the game?

[2020-04-04 11:17] pirix-gh commented on #102
Thanks for the info, I'm gland they've put effort into it :)

[2020-04-04 11:31] Martaver opened #103 "Why didn't you create a 'Defer' type alias?"
## 🤔 Question
In other discussions, you mention the use of `extends infer X` syntax as a way to defer evaluation of a type by the typescript compiler until we've received type parameters.

Discussion here: https://github.com/pirix-gh/ts-toolbelt/issues/102
And here: https://github.com/pirix-gh/ts-toolbelt/issues/5

#### Describe your question
Is there a reason you've directly used this syntax in a

[2020-04-04 15:18] pirix-gh commented on #103
Because if you would do that... Let's suppose you have a recursive type `A`. Then you want a deferred type `A`. If you did `type DeferA<...> = Defer<A<...>>`, then the type `A<...>` would be expanded by TypeScript before it's even passed to `Defer<...>`, thus making `Defer` pointless.

TypeScript tries to expand types as it traverses them. `... extends infer X` is the only way to prevent it from d

[2020-04-04 15:18] #103 closed

[2020-04-04 17:48] Martaver commented on #103
Of course... thanks for the break down!

[2020-04-04 20:48] ahejlsberg opened #104 "Excessively deep type error with TS #37537"
An excessively deep type error is issued with https://github.com/microsoft/TypeScript/pull/37537. Looks like it can be fixed by switching from `Extends` to `Equals` here:

https://github.com/pirix-gh/ts-toolbelt/blob/master/src/List/Repeat.ts#L18

[2020-04-04 20:54] pirix-gh commented on #104
Fix is out. Sorry about this :)

[2020-04-04 20:54] #104 closed

[2020-04-08 21:41] damiangreen opened #105 "How do I select a nested type where child props names are the same"
## 🤔 Question

Consider this type:
[code]

If I wish to pick the `firstName` property _**only**_ from type `b` ,and also pick type `d` from `c`,  I thought I would use `O.P.Pick` as follows:

[code]
however `firstName` in `c` is also selected. Should i be using a different method?
Or perhaps I need to union together  branches, e.g.
[code]
This would rather verbose however.

[2020-04-09 09:03] pirix-gh commented on #105
You will need to use an intersection

[code]

[2020-04-09 09:03] #105 closed

[2020-04-10 01:24] kripod opened #106 "How to negate multiple numbers at once?"
## 🤔 Question

#### Describe your question

I am trying to negate the keys of an object type. Currently, I'm trying with the following approach:

[code]

Unfortunately, `newObj` is shown as a `string` instead of `'0' | '-1' | '-2'`.

#### Search tags, topics

negate, multiple, inference

[2020-04-10 09:16] pirix-gh commented on #106
Hey @kripod this is the right way to do it! It's my fault, there is a bug :bug:.

[2020-04-10 09:37] pirix-gh commented on #106
The fix will be out in minutes. Sorry about this :)

Here's another way to write it:

[code]

[2020-04-10 09:38] kripod commented on #106
Fantastic, thank you! That was very quick.

[2020-04-10 09:39] kripod commented on #106
Is it possible to negate the `’1px’` literal somehow, resulting in `-1px`? I was searching through TypeScript issues but found no proper solution.

[2020-04-10 09:48] pirix-gh commented on #106
Pleasure! No it is not possible is pure ts, but we could build a map for pixels to enable this. If you look at how I've built operations on `Number`, it uses a `Map` to know which number is next or previous. So we could use such a map to do this with `px`. https://github.com/pirix-gh/ts-toolbelt/blob/master/src/Iteration/IterationOf.ts

**If you are OK having a limitation that is from '-40px' to '

[2020-04-10 09:50] kripod commented on #106
Wonderful 😲
Thanks for spending time to explain the details!

[2020-04-10 10:12] pirix-gh commented on #106
Let me know if you need help to integrate such a feature, I didn't actually go very much in detail. Don't hesitate to contact me via gitter or open another issue.

I speculated many times that I should give the possibility to pass custom number maps (like pixels, or percents). I could implement this if you want. From there on, any custom map could be passed.

[2020-04-10 10:12] #106 closed

[2020-04-10 10:21] kripod commented on #106
I'd highly appreciate if you could implement the ability to use custom maps, so project maintainers wouldn't have to copy a lot of boilerplate code, but would have a reusable, tested solution available.

_By the way, I would use this [for a new CSS-in-JS library](https://twitter.com/kripod97/status/1247483807122493448) with customizability, type-safety and performance in mind._

[2020-04-10 15:25] pirix-gh commented on #106
Yo @kripod the new mapping system is on the way. You can now use pixel maps and perform math operations on it. It enabled considerable optimizations as well as more flexibility. So you can get started with pixel math!

If you need an example, please take a look at the tests https://github.com/pirix-gh/ts-toolbelt/blob/master/tst/Number.ts

I'll take a look to optimize `Negate` a bit later :wink: t

[2020-04-10 15:42] kripod commented on #106
Awesome job, thank you!

Unfortunately, I need to negate values from 0–64, so I opted for a [custom solution](https://github.com/kripod/glaze/blob/6121b187c98f2c93a6fea481e95ba1ea241f2507/packages/glaze/src/scales.ts#L26-L37) until a more optimized version is available.

[2020-04-10 21:17] pirix-gh commented on #106
You can use it now, it's been fixed. New limits are from `-100` to `100` and with pixels too:

[code]

[2020-04-15 16:09] xiaoxiangmoe opened #107 "add ValueType and allow Object.At O extends {}"
## 🍩 Feature Request

#### Is your feature request related to a problem?

[code]
#### Describe the solution you'd like

* add ValueType
* change `type AtLoose<O extends object, K extends Key> = O extends unknown ? AtStrict<O, K> : never;` to `type AtLoose<O extends {}, K extends Key> = O extends unknown ? AtStrict<O, K> : never;`

#### Describe alternatives you've considered

#### Teachability, Do

[2020-04-15 16:14] pirix-gh commented on #107
Hi there, you can use `UnionOf` to do this https://pirix-gh.github.io/ts-toolbelt/modules/_object_unionof_.html

[2020-04-15 16:24] xiaoxiangmoe commented on #107
@pirix-gh Sorry, I tried it and it doesn't seem to work.

[2020-04-15 16:26] xiaoxiangmoe commented on #107
Sorry, I tried it and it doesn't seem to work.

[2020-04-15 16:56] pirix-gh commented on #107
Oops sorry, I misunderstood your demand. This is kind of strange though. I can't edit `At` for type safety purposes. It happens that TypeScript does not infer the expected type correctly. In those cases, I invite you to use `Cast` or `&`.

Here's your code:

[code]

I used `& {}` to cast the type to `object` since we are sure that it is an object. This is an odd error though, maybe it should be re

[2020-04-15 17:02] xiaoxiangmoe commented on #107
How can I describe this problem and report a bug to TS? I am not very familiar with the mechanism of TS.

[2020-04-15 17:10] pirix-gh commented on #107
The same way you opened an issue here. But you must make your example clearer and ask them why is `APIs[namespace][operationId]` not inferred as an object. Maybe you should try to simplify your code, just keep the type part. Good luck!

[2020-04-15 17:10] #107 closed

[2020-04-15 17:10] xiaoxiangmoe commented on #107
Thank you.

[2020-04-17 03:44] thesunny opened #108 "Add AtLeastOne type"
## 🍩 Feature Request

#### Is your feature request related to a problem?
I need a way to test if a type has at least one property

#### Describe the solution you'd like
Solution:

[code]

Which came from https://stackoverflow.com/questions/48230773/how-to-create-a-partial-like-that-requires-a-single-property-to-be-set/48244432

#### Teachability, Documentation, Adoption, Migration Strategy

This c

[2020-04-17 17:27] pirix-gh commented on #108
Hey @thesunny, thanks for submitting this! The feature is out. I wrote a more flexible and improved version of the one you posted. Here's a few examples:

* This will require at least one

[code]

* Or say which ones are at least required

[code]

* And it will work on unions too

[code]

Let me know if we can improve anything.

Cheers

[2020-04-17 17:27] #108 closed

[2020-04-18 02:03] thesunny commented on #108
Oh wow! Nice!

Thanks for the quick response.

[2020-04-18 14:21] JakubKoralewski commented on #105
@pirix-gh So do I understand this correctly? I have a `Post`, with an `author` property type of `User`.
[code]
I only want the `User`'s name without his `id` for the `GridViewPost`. As I understand this is how it's supposed to be done:

[code]

My questions are: 1. Do I understand correctly? 2. Could this be somehow simplified into a single line, with a new feature or a TypeScript declare function

[2020-04-18 15:34] pirix-gh commented on #105
@JakubKoralewski it's the right way to do it, if your intent is to ONLY have the `'name'` of the user. Otherwise you could `Omit` the `id` and keep the rest of the props.

No there are no "pretty" ways to do this, sorry. But there is a way to simplify it, but that  might not work in all cases. `O.P.Pick` stops traversing as soon as a property isn't an object candidate. So this will work:

[code]

[2020-04-20 02:13] mesqueeb opened #109 "Shorthand for Partial<MyType, 'deep'>"
## 🍩 Feature Request

#### Is your feature request related to a problem?
With plain TS, you can write `Partial<>` to make all props partial.
However, this doesn't work deeply.

To do it deep I use TS-Toolbelt:
[code]

#### Describe the solution you'd like
I'd love the shorthand for the above:
[code]

#### Describe alternatives you've considered
I can write the long hand, as I do now.

#### Teachab

[2020-04-20 14:41] pirix-gh commented on #109
Hey @mesqueeb, this is already possible, though it isn't documented:

[code]

[2020-04-20 14:41] #109 closed

[2020-04-21 00:53] mesqueeb commented on #109
@pirix-gh
Thanks!

I see I have to import the entire library for this.

Would be great if you could expose this to the `O` exports!!! < 3

[2020-04-24 10:55] waynevanson opened #110 "Strict Object Literals"
## 🤔 Question

#### Describe your question

I'm trying to create the `isLiteral` function below, fully typed.

If it is a literal, it means that it is not a class derived from `Object`

[code]
Do you have anything similar, a place to look? I can't assert the difference between class and an object, as they have the same prototype.

#### Search tags, topics

[2020-04-24 15:02] pirix-gh commented on #110
I don't think this is possible. I got this so far:

[code]

You should just return `boolean` instead :)

[2020-04-24 15:02] #110 closed

[2020-04-24 15:11] pirix-gh commented on #110
https://github.com/microsoft/TypeScript/issues/3841

[2020-04-25 06:10] waynevanson commented on #110
@pirix-gh RIP

Thank you for looking into this.

[2020-05-14 08:17] jhnns commented on #82
I just found out that your implementation of an opaque type allows the following:

[code]

This is because `__type__` is optional. If it was mandatory, you'd need an assertion to narrow down a number to an `EUR`.

Maybe we're talking about different use cases of opaque types, but this is a thing I want to prevent in my case. Imagine the following function:

[code]

I want to prevent people from ca

[2020-05-14 08:32] jhnns commented on #82
Personally, I would even prefer to use a `declare const ...` as you'd described, like this:

[code]

This way I can avoid the global string namespace. But you could make it optional of course:

[code]

[2020-05-14 10:24] pirix-gh commented on #82
Hey @jhnns, thanks for pointing this out. This is a regression, I just changed it recently late a night. It's a mistake. I integrated your suggestion this way:

[code]

The fix will be out within 5 minutes. Again, sorry about this and thanks for reaching out.

[2020-05-15 09:53] #100 closed

[2020-05-18 05:41] thesunny opened #111 "Add IsStringLiteral, IsNumericLiteral and IsLiteral"
## 🍩 Feature Request

#### Is your feature request related to a problem?
I need the ability to identity a literal. A use case, for example, is when creating a validation function like in JSON Schema where we wish to define an `enum`. The value of an `enum` are accepted as an array of literal strings or numbers. To do this, the user must specify the array `as const`. If the user does not, the array

[2020-05-18 10:22] pirix-gh commented on #111
Hey @thesunny, it's out in a few minutes

[2020-05-18 10:22] #111 closed

[2020-05-18 10:46] millsp opened #112 "New documentation site"
## 🍩 Feature Request

#### Is your feature request related to a problem?

The current docs website is OK but we could do better.

#### Describe the solution you'd like

We need to build a better documentation website with docz. This is a feature that does not exist within docz so we will have to:
- parse the code
- extract docs
- generate markdown pages
- link doc [[references]]
- link sources on

[2020-05-18 18:32] thesunny opened #113 "Why does `U.Nullable` adds `undefined` but not `null`?"
## 🐞 Bug Report

#### Describe the bug
The method `Union.Nullable` does not add the `null` type to the union

#### Reproduce the bug
[code]

#### Expected behavior
[code]

#### Possible Solution
[code]

#### Screenshots

#### Additional context

[2020-05-18 19:28] pirix-gh commented on #113
Hi @thesunny, this is voluntary. The reason I did this is that most people (IMHO) see `null` as an anti-pattern, also called the "Billion dollar mistake", as it creates confusion in the codebase.

Well that was my only reason. Because in practice, TypeScript prevents this horrible mistake by not allowing `object` & `null` to overlap. So I built it this way, thinking that no one should use `null`.

[2020-05-18 19:30] #113 closed

[2020-05-18 20:19] thesunny commented on #113
Totally get it, especially with the breaking change.

Two thoughts:

- The current naming may confuse people as `Nullable` does not make the type `null`able.
- I wonder if the term `Undefinable` might fit the intention better.

[2020-05-18 21:18] pirix-gh commented on #113
Yes you are right, I can't fight this. It will be out in a few minutes. Cheers

[2020-05-18 21:27] thesunny opened #114 "Union.StrictOptional"
## 🍩 Feature Request

#### Is your feature request related to a problem?
Yes. I am using `Union.Strict` to create a safe version of a table insert from a schema where an account must discriminate on a type literal. For example (not real), if the `type` column was `user`, it would allow the `email` column to be populated. If the `type` column was `team`, it would allow the `memberCount` column to b

[2020-05-18 21:55] pirix-gh commented on #114
1: So if I understood well, you determine the fields to make `undefined` based on the schema that is be queried?

2: Why not remove the fields that are useless, is it to keep it generic (which is great)?
`memberCount?: undefined` is not needed if it's a `type: "user"`

3: In your second example, what is the meaning of, why have this?
`{ name?: string, type?: undefined, email?: undefined, memberCou

[2020-05-18 23:55] thesunny commented on #114
You are correct about 2! It's over-specified. The original reason was that it allowed the setting of `null` values in some place (i.e. it was something like `email?: undefined | null`) but as I was playing around with code, I removed the null for simplicity in thinking (fix a smaller problem first); however, I think it needs to be back in there with some more thinking or we can get inconsistent da

[2020-05-19 01:47] thesunny commented on #114
This is why you never explain things when you are tired. Let's retcon that last post.

The reason why I needed the `undefined` was because I was allowing extra arbitrary properties to pass through.

This...

[code]

Would ultimately be joined with `{ [key:string]: any }`

[code]

The `?: undefined` were there so that the `{ [key:string]: any}` wouldn't allow in a value for the discriminated proper

[2020-05-19 02:35] thesunny opened #115 "`IsLiteral` returning `0 | 1` when `kind` is unspecified"
## 🐞 Bug Report

#### Describe the bug
`IsLiteral<100>` returns `0|1` but should return `1`
`IsLiteral<"a">` returns `0|1` but should return `1`

#### Reproduce the bug

Everything works except L1 & L2
[code]

#### Expected behavior
Should return `1` when `IsLiteral` generic is a string or numeric literal.

#### Possible Solution
I think you got this. :)

#### Screenshots

#### Additional context

[2020-05-19 05:02] thesunny commented on #114
I built a version of the function as a reference. The idea of `StrictPartial` is generic but it is specific in that it handles discriminants in a specific way as to prevent bad states.

[code]

[2020-05-19 11:33] pirix-gh commented on #114
I don't think that well find a place for this in the standard library. There you go:
[code]

[2020-05-19 11:41] pirix-gh commented on #114
We could write a generic version, but it would not work for your use-case. Still looking into it. Btw, you can use `A.Compute` instead of `Flatten` :)

[2020-05-19 12:04] pirix-gh commented on #114
@thesunny I found real generic solution. This is more elegant, since you can tell which types not to make `Optional`:

[code]

Notice that I had to add `{ name: string }` after schema. And notice also that you can specify fields that must not be made optional.

I called it `StrictOptional` because I don't use the term `Partial`.

[2020-05-19 12:07] #115 closed

[2020-05-19 12:48] pirix-gh commented on #114
@thesunny do you want me to add it to the standard library?

[2020-05-19 12:53] pirix-gh commented on #114
Maybe this could fit into the `Commiunity` module.

[2020-05-19 15:43] thesunny commented on #114
Hi @pirix-gh, I will look at it today.

Thank you for your all your work on ts-toolbelt.

[2020-05-19 18:19] thesunny commented on #114
@pirix-gh after working with it, this feels complex:

[code]

1. We need to know that we have to `|` the `{ name: string}` in order to not have it in the discriminated portion.
2. Repetitive as we already specified that name is a string `{ name: string }`

If you felt inclined to pursue it, I wonder if this might provide a more intuitive UI.

[code]

We specify the **Schema**, the **discriminant**

[2020-05-19 18:30] thesunny opened #116 "Is there a way to sponsor / donate that is not recurring"
## 🤔 Question

#### Describe your question
Is there a way to provide a one-time donation. Possibly an email to use with PayPal?

The only method I could find was to use a recurring sponsor and then cancelling it immediately but felt like that was the wrong approach.

It would be nice to have a way to say thanks with a donation that doesn't need to recur.

#### Search tags, topics
sponsor
donate
do

[2020-05-19 20:16] pirix-gh commented on #116
Thank you so much, there you go: https://www.buymeacoffee.com/pirix

[2020-05-19 20:17] #116 closed

[2020-05-19 20:39] pirix-gh commented on #114
1) I am not against the second version, but I see a limitation that I am not sure how to overcome cleanly: you see, `Schema` has 2 union members when the expected `UpdateType` has 3, this makes the distribution non-generic. Not 1-to-1.

2) This is why I added `| { name: string }`, so that we can map over 3 members.

3) I don't see any problem with `discriminant` and `discriminated`, we would just

[2020-05-19 20:48] pirix-gh commented on #116
Thanks @tonivj5!

[2020-05-19 21:29] thesunny commented on #114
I may be misunderstanding the issue but can't we do something like:

[code]

[2020-05-19 21:55] pirix-gh commented on #114
Well, that's partially what I did in https://github.com/pirix-gh/ts-toolbelt/issues/114#issuecomment-630760893

Otherwise it's completely OK that you have your own type for your own scenario, not everything has or can be generic. The most generic I can get is https://github.com/pirix-gh/ts-toolbelt/issues/114#issuecomment-630774344

And we could improve it with your suggestion `type t0 = StrictOpt

[2020-05-19 22:35] thesunny commented on #114
Thank you again for your work.

I think you've taken it farther than you needed to already and I think I'm convinced that it may not be generic enough for inclusion. If somebody else comes in asking for something similar or the same, it could be worth revisiting. :)

[2020-05-19 22:41] thesunny commented on #116
@pirix-gh FYI, I'm the "Someone" that contributed 20 rockets.

Not asking for credit. Just wanted to let you know that I appreciate your work. Your library is useful and the last time I posted an issue, you were also responsive.

[2020-05-19 22:49] pirix-gh commented on #116
Amazing, thank you so much @thesunny. I feel very rewarded, thank you!

I will always be there to help out, and do as much as I can to share my knowledge.

[2020-05-19 22:57] pirix-gh commented on #114
Great. As long as your problem got solved and that your software is correctly typed :) I would definitely take a look again if more people need it, and add it to the community.

Writing types is not easy, unfortunately, I have to keep the standard library case-agnostic while trying to satisfy most use-cases... Which leads people to compose their own case-specific types. And when none of this appli

[2020-05-19 22:57] #114 closed

[2020-05-22 18:23] darky commented on #101
It's incredible slow and it's not working for real production project! I catch it easy on latest versions of TypeScript and Ramda.
(Now it: Typescript 3.9.3 / Ramda 0.27.0 / @types/ramda 0.27.6)

Note: I force install to @types/ramda latest ts-toolbelt (6.9.0), it doesn't help

Simple code:

[code]

Errors:

[code]

[2020-05-22 18:55] pirix-gh commented on #101
Indeed, thanks for reporting this!

[2020-05-22 18:59] sledorze commented on #101
Sometimes hiding behind interfaces instead of types helps the compiler.. (had the same issue in @morphic-ts..)

[2020-05-22 19:00] pirix-gh commented on #101
Thanks for the advice, I'm looking into it right now

[2020-05-22 19:43] pirix-gh commented on #101
@darky you have found a sad limitation of this type. I went back to previous versions, and this seems to be a bug. Unfortunately, I don't know how to solve this.

Luckily, I am working on new curry types (generated) that will be lighter on the CPU... But I can give you a date for this, sorry.

The only thing I can recommend you is to
[code]

[2020-05-22 19:43] #101 closed

[2020-05-22 19:47] pirix-gh commented on #101
Building types for `curry` is extremely complex, as we have to handle many things like partial arguments with `R._` and also handle the possibility to leave arguments out... This leads to an extremely complex type that cannot be unfolded easily.

I'm closing this, as I'm not able to solve your use case, will notify when I moved forward in generating the new types.

Again, sorry

Cheers

[2020-06-03 18:56] philipbulley commented on #101
This looks like the same issue that I've been having (when trying to assign a curried function to a variable with an `F.Curry` type), I've already created reproduction here:
https://github.com/philipbulley/ramda-ts-curry-bug — no worries though and good work in getting so far with such a mind-bending type.

[2020-06-04 18:52] b2whats opened #118 "Question to approach"
Please tell us why you use this construction
[code]
for example here https://github.com/pirix-gh/ts-toolbelt/blob/master/src/Object/PathValid.ts#L42

How does it avoid an error
[code]

[2020-06-04 18:56] tonivj5 commented on #118
Maybe https://github.com/pirix-gh/ts-toolbelt/issues/5 resolves your question

[2020-06-05 06:33] b2whats commented on #118
Thanks 🤗

[2020-06-05 06:33] #118 closed

[2020-06-16 14:22] asgerhallas opened #119 "ValidPath without const assertion?"
## 🤔 Question

I'm new to this library, and am still trying to get my head around it. It's very impressive! :)

In this sample https://pirix-gh.github.io/ts-toolbelt/modules/_object_pathvalid_.html there's the following code:

    const test0 = getAt(state,          ['case', 'name'] as const) // {c: number}

Why is const needed? And is there a way to make it work without the const assertion?

Hope

[2020-06-17 19:11] pirix-gh commented on #119
Hi there,

Without a const assertion, the type of `['case', 'name']` would be narrowed to `string[]` that's all. Depending on your type safety needs, you would choose `as const` or not.

[2020-06-17 19:11] #119 closed

[2020-06-18 08:34] pirix-gh commented on #101
Good news everyone, with the upcoming typescript@4.0 feature https://github.com/microsoft/TypeScript/issues/5453, concat (which curry relies on) is going to get much more performant (as well as prepend, append...) which should bring better overall performance for curry and the rest of the library.

Work is being done on `next` branch.

[2020-06-18 09:30] pirix-gh commented on #101
@philipbulley Yes, typescript fails at unfolding the type because of it's complexity. This is also why there is no `UnCurry` type. Sorry about this.

[2020-06-25 00:59] mesqueeb commented on #109
@pirix-gh Is it possible to add an alias for
[code]

that looks like this:
[code]
I think it's what most TS developers might come looking for when they want to do a deep Partial

[2020-06-25 20:27] pirix-gh commented on #109
Yes, we can. Would you mind opening a PR?

[2020-07-01 07:22] ruizb opened #120 "Can we transform a tuple containing a union type into a union type of tuples?"
## 🤔 Question

#### Describe your question

Hello there,

I couldn't find a better title, lacking some TypeScript "advanced" vocabulary. Anyway, I was about to post an issue on the TypeScript repository, but since I've witnessed incredible magic with this library, I wonder if my problem can be fixed using ts-toolbelt 🙂

Here's my problem:

[code]

I've got a TS2322 error on `a`:

[code]

When I us

[2020-07-01 07:29] ruizb commented on #120
I think I got things mixed up 😅  since `A` is already written as a union type of tuples, I feel like the TS error I'm having cannot be fixed with ts-toolbelt 😞

[2020-07-01 07:31] ruizb commented on #120
I'm closing the issue since it has nothing to do with this library, sorry for the inconvenience!

(Great work BTW, I'm looking forward to variadic tuples being used here)

[2020-07-01 07:31] #120 closed

[2020-07-01 08:43] pirix-gh commented on #120
Hey, it is possible to turn a [number, 'a' | 'b'] into a [number, 'a'] | [number, 'b'], but in most cases this would change nothing.

[2020-07-03 02:07] dsernst opened #121 "How to add union type to object values"
## 🤔 Question
Given an object type like:

[code]

How could I transform all of the values to also accept another type, e.g.:

[code]

It's easy if the type is manually defined, as above.

But I'd like to make this into a transforming utility type for a library, with arbitrary objects passed in.

E.g.

[code]

is equivalent to:

[code]

Is this `AcceptSomeType<T>` function possible?

Sort of like `

[2020-07-03 11:33] pirix-gh commented on #121
Hey @dsernst,

There are a few ways to do this.

- The first one is with ts-toolbelt:

[code]

Update allows one to update existing values, or create new fields, and use the `x` placeholder (where `x` represents the original value).

- The second one is with TypeScript:

[code]

- But ultimately, the shortest will be:

[code]

`Unionize` simply creates a union of the fields of 2 objects. Since our

[2020-07-03 11:33] #121 closed

[2020-07-03 17:32] dsernst commented on #121
Brilliant, thank you!

You are a wizard 🧙‍♂️

[2020-07-03 18:36] pirix-gh commented on #121
It's only my pleasure! If any help is needed on your related issue, please ask :)

[2020-07-05 06:50] mesqueeb commented on #112
Just to give me 2 cents:
There are many types I'm not 100% sure of how & why to use. Some types are also similar to native TS types, so I often wonder the benefit of the TS-Toolbelt one over the native one.

If you want I can go through the entire list of types and write up one by one why I don't understand a type/example.
Let me know if this would help.

[2020-07-05 21:35] pirix-gh commented on #112
Yes, thanks, that would be amazing! This is great help :)

The idea behind ts-toolbelt having all of the types is that:
- Some of them fix non-obvious bugs (like the original `Pick`/`Omit` not working with unions)
- We provide a single API for the type system, replacing ts type utilities, that can evolve in the future as needed. Another example is `Record`, that used to be the same as ts' but now

[2020-07-08 01:11] nandorojo commented on #121
@pirix-gh what if you only want it to apply to certain types of fields, for example, only to number fields?

[2020-07-08 12:12] pirix-gh commented on #121
Hola @nandorojo,

You would do this thanks to [`SelectKeys`](https://pirix-gh.github.io/ts-toolbelt/modules/_object_selectkeys_.html)

[code]

[2020-07-08 19:32] bengry opened #124 "`Object.Merge` with `deep` doesn't work on arrays/lists"
## 🐞 Bug Report

#### Is your feature request related to a problem?
I'm trying to create a type from a deep merge of various types.
When these types include arrays the merge stops working.
I've tried `Object.Assign`, `Object.AssignUp`, `Object.Merge`, `Object.MergeUp`, and `Object.Compact`, none of them worked for my issue.

#### Describe the solution you'd like
Here's a simplified example:

Given

[2020-07-08 21:10] pirix-gh commented on #124
Hi there, this was supposed to be performed by https://pirix-gh.github.io/ts-toolbelt/modules/_object_p_merge_.html, but it is not working like intended.

Thanks for reporting this. I'll look into it asap.

[2020-07-09 10:31] pirix-gh commented on #124
@bengry this will work for you:

type t0 = MergeUp<
    [{b: 2}, {d: 4}],
    [{c: 3}, {e: 5}],
'deep', 0>

type t1 = MergeUp<
    Person[],
    HasPet[],
'deep', 0>

The option `0` means that we'll be using lodash-style merging. Under the hood, `AssignUp` and `CompactUp` use `MergeUp` but don't provide a way to set the merge style to either ramda or lodash due to technical limitations and perform

[2020-07-09 11:37] bengry commented on #124
@pirix-gh thanks! I'll look into it. From an initial look though this doesn't solve my use case in the real-world app. I'll see about recreating a more true-to-original example in CodeSandbox and update later.

As a side note, what's the difference between `Assign` vs. `Merge` vs. `Compact`, and also vs. `Assign` vs `AssignUp` (or `Merge` vs `MergeUp`, or `Compact` vs `CompactUp`, I assume they're

[2020-07-09 15:12] pirix-gh commented on #124
I will be glad to help you with a more complex example. Here's how your first example would work:

[code]

The `Up` versions are the couterparts that are able to deal with unions and optional fields. In essence `MergeUp` will behave like the spread operator while `Merge` will only merge fields that do not exist already. This might disappear in the upcoming v7 to make the `Up` versions the default.

[2020-07-09 15:48] katedoctor opened #125 "Errors due build"
![Screen Shot 2020-07-09 at 6 47 34 PM](https://user-images.githubusercontent.com/34662518/87061647-ac0eb180-c214-11ea-93a9-36271d62b281.png)
there is some errors

[2020-07-09 15:51] pirix-gh commented on #125
Hey @katedoctor, thanks for reporting this. Are you using ramda?

[2020-07-09 15:52] bengry commented on #124
Thanks. Here's a more complex example that more resembles my real world use case: https://codesandbox.io/s/pensive-franklin-3xn39?file=/src/complex.ts

It's a lot bigger though, so I hope it's not too overwhelming, I tried to remove a lot of our code from there to make it smaller (the actual version is a lot more complex).

Essentially, I want to create a new type that has everything in it:
[code]

[2020-07-09 15:55] katedoctor commented on #125
yes, I'm. I use @types/ramda as well

[2020-07-09 16:02] pirix-gh commented on #125
Sorry about this, the fix will be out in a few minutes. Thanks :)

[2020-07-09 16:02] #125 closed

[2020-07-09 16:07] intrnl opened #126 "about `declare module` pollution"
## 🤔 Question

#### Describe your question

This isn't really a major issue, but it does raise some concern and it can be annoying to see once in a while.

I use [`react-query`](https://github.com/tannerlinsley/react-query), which is a pretty fantastic lib to use, but something I noticed is that after installing the package, I would see `ts-toolbelt`'s many type utils polluting the import suggesti

[2020-07-09 16:09] katedoctor commented on #125
Thanks! Could you write here when it will be fixed?

[2020-07-09 16:11] pirix-gh commented on #125
It's fixed! Cheers

[2020-07-09 16:18] katedoctor commented on #125
it works! thanks^_^

[2020-07-09 16:31] pirix-gh commented on #126
Hey @intrnl, sorry about this. I'm busy pushing a fix that will get rid of the `index` module declaration. https://travis-ci.org/github/pirix-gh/ts-toolbelt/builds/706593110

I would like to know if you can try this again once `Deploy:master` has passed, and let me know if this is still bothering you :)

[2020-07-09 16:38] pirix-gh commented on #124
At this stage, your type looks like

[code]

Wrap your types with `A.Compute` (update to the latest version for best results).

[2020-07-09 16:51] pirix-gh commented on #124
It looks like it's working, it's just that it is not strictly equals to what you are testing (`readonly CampaignMeta[]). You basically did:

[code]

For some reason, you are looking for a field `campaigns_meta` that is not in `[instances][number]`. It is situated in `instances`:

[code]

[2020-07-09 16:54] pirix-gh commented on #124
I'm pushing another update for `A.Compute` to help you vizualize your types more easily.

[2020-07-09 16:57] bengry commented on #124
`instances` is an array, it wouldn't make a lot of sense for `campaigns_meta` to be on it (i.e. a sibling property to `.length`). It should be a property on each instance (object in the array).

[2020-07-09 17:05] bengry commented on #124
I'm actually getting most properties as `never` (`typescript@3.9.6`):
[code]
![image](https://user-images.githubusercontent.com/260431/87069249-88049d80-c21f-11ea-9b02-e3f41f0c351d.png)

[2020-07-09 17:09] pirix-gh commented on #124
Ok, then I think you've made a mistake:

[code]

You are merging array-things into a non-array, you probably forgot:

[code]

Now this works:

[code]

And you get `never` values because you are using the `&` operator. That's a known behavior of this operator, it must absolutely not be used for merging, use the ts-toolbelt for this :)

[2020-07-09 17:10] pirix-gh commented on #126
Hey @intrnl, did this solve the problem?

[2020-07-09 17:14] bengry commented on #124
Yep, my bad there. Thanks!

I replaced the `&` with `O.MergeUp` and still get `never`:
[code]
![image](https://user-images.githubusercontent.com/260431/87069981-c8185000-c220-11ea-8681-d3c9b2ddb921.png)

[2020-07-09 17:17] pirix-gh commented on #124
Update to the latest version in the meantime, `Compute` will give you more fine-grain details. I'm looking into this.

[2020-07-09 17:20] pirix-gh commented on #124
I don't get this, on my side:

[code]

Remove your `node_modules`, reinstall with ts>3.9 and the latest ts-toolbelt. And let me know :)

[2020-07-09 17:33] pirix-gh commented on #124
Hey @bengry I don't see your repo anymore so I'm marking this as resolved.

[2020-07-09 17:34] #126 closed

[2020-07-09 17:36] bengry commented on #124
I created it as private by mistake (default from the `gh` cli) 🤦. Just fixed, so you should be able to see it now.

Just did, using: `ts-toolbelt@6.10.10` and `typescript@3.9.6`, same thing as before...

Please re-open.

P.S.

Is the issue with `O.Merge` fixed?

[2020-07-09 17:52] pirix-gh commented on #124
Yep, that is solved, I got mistaken, it was working as intended. What you would like, though, might be a `O.P.MergeUp` that does not exist yet.

[2020-07-09 18:21] bengry commented on #124
Any ideas regarding what's not working in the repo I linked to?

[2020-07-09 18:24] pirix-gh commented on #124
Busy looking into it

[2020-07-09 18:29] pirix-gh commented on #124
It seems to be a problem on my side, that only happens when `0` (lodash-like merging) is enabled. Will ping you when I have a fix later (soon).

[2020-07-09 18:30] pirix-gh commented on #124
Misbehaviour:
[code]

[2020-07-09 18:55] pirix-gh commented on #124
I found why this is happening. It comes from the fact that you don't have `strictNullChekcs` flag enabled.

[2020-07-09 18:56] pirix-gh commented on #124
I'm currently trying to see if I can find a workaround for this.

[2020-07-09 19:31] bengry commented on #124
We do use strict everything in the actual app. I forgot to initialize a tsconfig in the repro repo. Will do that in a bit and see if it gets a better result.

[2020-07-09 19:31] pirix-gh commented on #124
It is not possible without this flag, you will have to enable it. I updated the docs to warn about this.

[2020-07-09 19:40] pirix-gh commented on #124
There are a few problems still that I am tracking down

[2020-07-09 20:06] pirix-gh commented on #124
R1, R2, R3 are now passing

[2020-07-09 20:59] bengry commented on #124
Looks much better, thanks!
I'm still not getting the behavior I want though, not sure if this is a bug in `ts-toolbelt` or in my definitions though:
[code]

IIRC this worked before?

Just to recap, I'm using the same definition as before:
[code]

[2020-07-09 21:56] xaviergonz opened #127 "Expression produces a union type that is too complex to represent when using O.Writable with version 6.10"
Using TS 3.9.6 and ts-toolbelt 6.10.11 the following breaks
It compiles ok in v6.9.9

[code]

Note that this is just the smallest code I could come up with, that shows the issue not the actual code.

[2020-07-09 22:30] pirix-gh commented on #124
This is normal, `CreativeGroupWithInstanceData` is a union, so even if it's merged it's not going to have indexes. I've been looking into how to do this for an hour now and I don't find any easy way, there are too many constraints. I suggest that you redesign the way you structure your type by making `CreativeGroupWithInstanceData` a tuple instead of a union... Or at least have a tuple that can re

[2020-07-09 23:18] #127 closed

[2020-07-09 23:18] pirix-gh commented on #127
@xaviergonz it's fixed

[2020-07-10 01:05] pirix-gh commented on #124
Support for built-on objects with `MergeUp` will land tomorrow.

[2020-07-10 03:12] intrnl commented on #126
While that resolved the conflict with an npm package, I'm still not sure about the import pollution issue that it still has.

More and more, I feel that `declare module` should only be used for end user projects with untyped dependencies.

[2020-07-10 08:30] pirix-gh commented on #126
I get your point, but it will stay that way until TypeScript can provide a reliable way to bundle `d.ts` files.

[2020-07-10 08:32] pirix-gh commented on #126
https://github.com/microsoft/TypeScript/issues/4433

[2020-07-10 09:57] pirix-gh commented on #124
You can now use the `MergeUp` utility with the `deep` option enabled, it will preserve all built-in objects.

[2020-07-10 10:00] pirix-gh commented on #124
I'm closing this issue as all the problems related to this lib have been resolved. I really recommend that you restructure your types so that you can end up with a tuple instead of a union. Feel free to ask more questions, and thanks for the bug reports.

[2020-07-11 13:23] xaviergonz commented on #127
Awesome, thanks!

[2020-07-14 01:08] mesqueeb commented on #112
@millsp

I spent about 2 hours this morning reviewing the current types.

I have difficulties understanding why you provide wrappers like these:
How/why should we use them?
- Any/x
- Class/Class
- List/List
- Object/Object
- String/String
- Union/Union

& I have difficulties understanding almost everything under:
- Misc/…

Then I realised **I only have real experience with your `O / Object` types*

[2020-07-14 01:19] mesqueeb opened #128 "How to correctly package ts-toolbelt as dependency"
## 🤔 Question

#### Describe your question
Hi, I'm using ts-toolbelt to produce the return types of some util functions of mine:
- [filter-anything](https://github.com/mesqueeb/filter-anything#typescript) uses your `O.Omit` and `O.Pick` types.
- [merge-anything](https://github.com/mesqueeb/merge-anything#typescript-support) uses your `O.Compact` type.

However, in some monorepo projects of mine, s

[2020-07-14 09:28] millsp commented on #112
Amazing, thank you so much for your feedback. Thanks for taking the time!

[2020-07-14 09:49] millsp commented on #128
Hi there,

I don't think your issue is related to this package, but rather TypeScript. I personally don't use lerna, but it seems like you are managing two version of the ts-toolbelt at the same time?

Maybe you should try to set all the versions to a fixed one in your dependencies. Otherwise, I found this https://stackoverflow.com/questions/31322525/confusing-duplicate-identifier-typescript-error

[2020-07-14 12:10] bengry commented on #124
@millsp How would a tuple work in this case?

Also, on a related note - is the a way to achieve the type we talked about using `Object.Compact`/other similar type - that accepts a list of types to merge? Otherwise I have to call `Object.MergeUp` twice, which is fine, but seems like it could be optimized.

[2020-07-14 13:10] millsp commented on #124
You could have a `CreativeGroupWithInstanceDataList` that is a tuple instead of an union, this way you can have a list like you wanted. You'd need to reorganize the way your type is built from the deepest field up to its top parent.

I will also add an option so that `CompactUp` and `AssignUp` can be used with `lodash` merging style.

I see the new `Compute` is causing problems, so I will fix this

[2020-07-14 14:59] bengry commented on #124
@millsp I understand that it's very complex, no worries. What types of problems? I didn't see anything specific from my usage, but I'm surely not seeing the big picture - just my project.

Also, I'm still not sure what do you mean by a tuple. Could you give a code example with the concrete type I'd have, similarly to what I wrote here: https://github.com/millsp/ts-toolbelt/issues/124#issuecomment-

[2020-07-14 16:11] millsp commented on #124
@bengry, `MergeUp` did not deal with unions properly like it should. I'm working on making `MergeUp` the default since I'm not satisfied with `Merge` anymore. I'm also working on adding the merging options at the same time.

Will come back to you soon.

[2020-07-14 20:13] millsp commented on #124
You can now use `MergeAll` or `PatchAll` as you need. This will be out in a few minutes. I'll help you with your code tomorrow.

[2020-07-14 20:14] #124 closed

[2020-07-14 20:14] #128 closed

[2020-07-14 20:18] bengry commented on #124
Thanks! I'll give it a try tomorrow. What's `PatchAll`? I didn't see it in the docs (or even something similar to it).

[2020-07-14 20:22] millsp commented on #124
Oh that's because the docs are still being built on the CI. `PatchAll` is exactly like `MergeUp` but it does not handle `undefined` and `optionals`, it just completes the missing fields of a type. And btw, `MergeUp` does not exist anymore, it's called `Merge` (same for all `Up` utilities, they were confusing and a misconception).

And `Merge` behaves exactly like the spread operator, but for types

[2020-07-14 20:28] millsp commented on #124
https://millsp.github.io/ts-toolbelt/modules/_object_patchall_.html

[2020-07-15 14:15] millsp commented on #124
I just fixed a last bug that was causing the types to end up as `never` (mentioned above). Now it's about your code @bengry. You should start heading into a direction where you work with:

[code]

Then, I guess you would want to perform a `Select` on that `List` like you did before:

[code]

Note: This `<L = CreativeGroupWithInstanceDataList>` has to be this way for ts not to iterate over array me

[2020-07-15 14:17] millsp commented on #124
I would like to help you more but I a very busy. You can always fund an issue on issue hunt then I will allocate you some hours. But I'm sure you'll do great :)

[2020-07-16 14:05] katedoctor opened #129 "Errors during build again"
![image](https://user-images.githubusercontent.com/34662518/87680667-61e27e80-c786-11ea-941f-61d0b8710e3e.png)
The issue https://github.com/millsp/ts-toolbelt/issues/125 **valid again**

[2020-07-16 16:31] millsp commented on #129
I think this is a different issue. You need to upgrade to TypeScript 3.7.

[2020-07-16 16:34] millsp commented on #129
Please let me know if you still have the same issues after the upgrade.

[2020-07-19 00:13] mesqueeb opened #130 "O.Merge broke?"
## 🐞 Bug Report

#### Describe the bug

I just updated from `^6.4.2  →  ^6.13.11`

And a lot of types that used O.Merge broke because of changed behaviour.

#### Before & Expected:

<img width="690" alt="Screenshot 2020-07-19 09 11 48" src="https://user-images.githubusercontent.com/3253920/87864180-16a3b800-c9a0-11ea-838d-2e027015c037.png">

#### After & Bug reproduction:

<img width="945" alt="Sc

[2020-07-19 00:24] mesqueeb opened #131 "Was O.Compact deprecated?"
## 🤔 Question

#### Describe your question
I'm using `O.Compact` in a [merge-anything](github.com/mesqueeb/merge-anything) library of mine. And I wanted to check something in the docs about it, but it seems to have disappeared! :D

Was it deprecated?

To what should I update the `O.Compact` type for best future proofing?

#### Search tags, topics
#compact #o.compact #deprecated

[2020-07-19 00:27] mesqueeb commented on #130
I looked at the differences between 12 and 13, and it's massive
### 🤯

Any chance you can revert the latest version back to the old behaviour and maybe do a major bump (v7) for the new behaviour?

Unless it's a bug, in which case just fixing it to the old behaviour is preferred. : )

[2020-07-19 00:29] millsp commented on #130
Thanks for reporting this. While Merge type safety has been very improved
lately, it seems like there is a regression that has been introduced at the
same time.

Please check that you have --strictNullChecks flag enabled. If you cannot
enable it, then you could try to use Patch instead. It's like the old
Merge. This new Merge is able to handle unions of objects as well as
optional fields, effectiv

[2020-07-19 00:34] millsp commented on #131
Yes, Compact has indeed been deprecated. It was a confusing utility. There
is MergeAll and PatchAll now that now use Merge and Patch. Where Merge is
the old MergeUp with a lot of rework and Patch is the old Merge.
At the same time, all the "Up" utilities have been deprecated too.

Le dim. 19 juil. 2020 à 02:24, Luca Ban <notifications@github.com> a écrit :

[2020-07-19 07:38] mesqueeb commented on #130
@millsp
Here are some reproductions for you.
- The comment below each time is what VSCode showed me on hover.
- In both cases I feel like Patch is correct and Merge is incorrect.

[code]

I can change all my types to `O.Patch`, but I use `O.Merge` throughout a looooot of libraries at this point... 😭

So if possible I'd prefer if it's possible to:
- publish v6.14 which reverts the behaviour back to

[2020-07-19 07:41] mesqueeb commented on #131
@millsp this definitely seems like the good thing to do!

Can you let me know how I best write this signature according to the newer syntax?

[code]

And feel free to close the issue as well ;)

[2020-07-20 01:45] mesqueeb opened #132 "O.Compact broken in 6.13"
## 🐞 Bug Report

[code]

The 0.13 is breaking a lot of things in my libraries with ts-toolbelt as depedency.

Right now my solution is to hard-code the version to v0.12 in all my libraries & tools that use ts-toolbelt.

[2020-07-20 13:53] millsp commented on #130
No worries, I will fix this.

[2020-07-20 14:00] #131 closed

[2020-07-20 15:36] mesqueeb commented on #130
I don't understand why xO

[2020-07-20 15:38] millsp commented on #130
I was also doubtful but it's explained here https://www.typescriptlang.org/docs/handbook/advanced-types.html#index-types-and-index-signatures

[2020-07-20 16:09] millsp commented on #130
OK, while I was able to fix most complaints about `Merge`, there is one that stays and it seems normal to me. Let's explain, when you do, for instance:

[code]

The field `a` stays `string` while `b` becomes `any` because it has the possibility of getting merged with `any` (if `b` is left empty). So `b` is `any`, and this is not a regression IMHO. Unfortunately, in TypeScript, unions like `1 | any

[2020-07-20 16:10] #129 closed

[2020-07-20 16:13] millsp commented on #132
Looking into this

[2020-07-20 16:19] millsp commented on #130
But it's good to note that your lib is not 100% typesafe if you choose to use `Patch` instead of `Merge`, which is essentially what will happen when I revert.

[2020-07-20 16:49] millsp commented on #132
This is happening because the new `Merge` is able to merge lists too, the old one would just skip it. This was a huge issue for type safety. And the problem here is that I chose to set the merging default to ramda style, that means that lists are not preserved by default...

So if you enable lodash-merging style, you can do pretty amazing things!

[code]

Actually, I plan to make the lodash-mergin

[2020-07-20 23:35] mesqueeb commented on #132
@millsp
I'm all for positive change and increasing possibilities!

However, as you've seen from my continuous struggles, a behaviour change we've seen with 6.13 _does_ force people to update the ts-toolbelt syntax in various parts of their apps. So because the syntax needs changing, I'd consider this a breaking change.
What's your thought on reverting to 6.12 behaviour and releasing 6.17 as v7.0?

[2020-07-21 00:06] mesqueeb commented on #130
@millsp thanks for trying to teach me.

First of all, I was reviewing my post above, and I realised I gave you examples but FORGOT TO INCLUDE THE TYPES I used in the examples:
[code]
That's so unfortunate, and I'm surprised you were able to derive what I meant. I've edited the post above and added them now.

I still have difficulties understanding a couple of things. But I'll try to get some profe

[2020-07-21 11:05] millsp commented on #132
You just have to pass the `0` option like in the example.

[2020-07-21 11:06] millsp commented on #132
https://github.com/DefinitelyTyped/DefinitelyTyped/pull/46213

[2020-07-21 11:53] millsp commented on #130
* In this case, you will want to use `Patch`, but the problem with `Patch` is that:

[code]

So what you would want, it's a `Merge` utility that does not alter the `?` optional fields. So you want something between `Patch` and `Merge`. I could write such a type for you, but it won't be included in the ts-toolbelt. Or for now, I will alias `Merge` to `Patch`, and will undo this on the v7.

* The do

[2020-07-21 11:53] #130 closed

[2020-07-21 14:00] millsp commented on #132
The only thing to know when using lodash merging style is that when one of your fields is `undefined`, lodash will fill that gap when merging, that's not the case for ramda. Ramda instead checks if the key exists or not. So if you have a field that you explicitly set to `undefined`, ramda wont complete it while merging.

[2020-07-21 14:08] millsp commented on #130
After the v7 is released you should do something like this:

[code]

You cannot do this right now, because I reverted `Merge` to behave like it did in the past.

[2020-07-21 21:56] millsp commented on #57
@mcpower I am going to undo your work in the v7. You will have to use `number` like suggested, and it will preserve your arrays.

[2020-07-21 23:24] mcpower commented on #57
No problem. I think using `number` is more explicit, and avoids the extra `array` Boolean parameter which is nicer overall.

[2020-07-22 02:16] mesqueeb commented on #130
@millsp this is really great stuff. If you have time one day you could definitely write a new short article on Medium focussing on what we discussed here this week. I'm sure it'll do great!

### ☕
I got you a week's worth of coffee. ;) enjoy!!!

PS, which do you recommend I use:

[code]

[2020-07-22 09:58] millsp commented on #130
Thank you so much!

You must use `interface Any {}`. But I don't see the point of doing this, because you loose type safety. The only nice thing about this, is that it can be `any` and preserve other type hints, whereas `any` would completely absorb other members in the same union. Don't go for this solution for the merge utilities, you will have no type safety left. Don't you think the solution j

[2020-07-23 14:11] selfrefactor opened #133 "Unused declaration in `Iteration/Format` cause TS build error"
## 🐞 Bug Report

#### Describe the bug

The original issue is https://github.com/selfrefactor/rambda/issues/511

I am using `ts-toolbelt` but I ship part of its code within my library, so users receive full TS support out-of-the-box. The unused part `IMap extends Map = NumberMap` causes TS build error with following TS config:

[code]

#### Reproduce the bug

Repo: https://github.com/selfrefactor/

[2020-07-23 21:20] millsp commented on #133
Thanks for reporting this @selfrefactor. It's fixed!

[2020-07-24 08:33] xaviergonz opened #134 "O.Writable broken in 6.13.24"
[code]

used to work ok in 6.10.16 (and probably later).

[2020-07-24 09:51] millsp commented on #134
Arf, sorry about this again. My tests pass but the metadata is somehow lost when working with generics. Now I'm wondering how this affects the library as a whole. Thanks for reporting. Working on it.

[2020-07-24 11:21] xaviergonz commented on #134
No worries, always happy to help :)

[2020-07-24 11:29] millsp commented on #134
Amazing, thank you. The fix will be out in a few moments.

[2020-07-27 16:33] millsp commented on #132
Fixed!

[2020-07-27 16:33] #132 closed

[2020-07-30 15:27] xaviergonz commented on #134
I'm afraid this is happening again in the latest version :(

[2020-07-30 15:28] xaviergonz commented on #134
By the way, isn't there a way to test for this automatically by using // @ts-expect-error ?

[2020-07-30 17:16] millsp commented on #134
You know what, I did not write tests for this, I wrote them for another utility `Patch` and `Merge` which I thought were the upstream problem... I'm so sorry, this is very unprofessional. I'm writing the same tests for all the other ones, I don't want to cause you problems anymore. Again, sorry!

[2020-07-30 19:19] millsp commented on #134
Hey @xaviergonz. Thank you so much for this! You helped me uncover a very old, suspected bug that caused metadata loss because of (way) too much type distribution. I've added tests for all the concerned tools, I'm doing all I can to break this curse :laughing:.

I'm very sorry for the disturbance I caused. I hope you are still enjoying using ts-toolbelt and that you will stick to it in the future.

[2020-07-30 19:19] #134 closed

[2020-07-31 08:36] xaviergonz commented on #134
I should be the one thanking you! After all you put a lot of time and effort into this for free 👍 Thanks again!

[2020-07-31 10:15] xaviergonz opened #135 "O.Optional removes non optional properties"
I think this is something new since the latest version

[code]
this only yields `optValues?: number[] | undefined;` and removes `values`

[2020-07-31 10:23] millsp commented on #135
Thank you, I'm looking into it.

[2020-07-31 10:40] millsp commented on #135
And another bug is gone, thank you!

[2020-07-31 10:40] #135 closed

[2020-08-02 21:15] millsp commented on #101
Ping veryone, I can confirm that @darky's example now works. `UnCurry` works too. Feedback is appreciated!

[2020-08-02 22:10] kripod opened #136 "Assigning/merging objects recursively while leaving arrays intact"
## 🤔 Question

#### Describe your question

I'm currently working on a `deepAssign` function which calls `Object.assign` recursively on object literals (but not arrays or instantiated classes like `Date`). The header looks as follows:

[code]

I would like the following object:

[code]

To match the following type:

[code]

How should this be done?

#### Search tags, topics

#deepAssign #deepMerge

[2020-08-02 23:17] millsp commented on #136
I think that we have something pretty close atm, I can produce you a
prototype by tomorrow that will match your requirements. Any reason why
you're not willing to merge arrays? It's not a problem, just a question 😉
(we have full array support now, even with nested objects).

The versions of Merge, Patch, PatchAll, MergeAll, Assign already handle
built-in objects like Date not to alter them.

I'm n

[2020-08-02 23:24] kripod commented on #136
Thank you, I’m eagerly waiting for how this will turn out. As for the arrays, I’m going to treat them like [tuples](https://github.com/tc39/proposal-record-tuple), which are immutable by nature. My implementation of `deepAssign` may possibly be used [for storing CSS styling rules in JS](https://github.com/kripod/otion/issues/47#issuecomment-667654260). In that case, arrays are utilized for providi

[2020-08-03 06:09] ruizb commented on #120
(FYI the bug has been fixed on TypeScript, cf. https://github.com/microsoft/TypeScript/issues/39357)

[2020-08-03 11:04] millsp commented on #120
Oh, I didn't realize this was a bug. Thanks for the update!

[2020-08-03 15:38] tonivj5 opened #137 "O.Optional key param has changed, using `any` breaks the type"
## 🐞 Bug Report

#### Describe the bug
In `6.13.36` this type worked right using `any` as `Key` param, now it doesn't

#### Reproduce the bug
[code]

#### Expected behavior
Expected type (as in `6.13.36`):
[code]

#### Possible Solution
Using `A.Key` as `Key` param works :+1:
[code]

#### Screenshots

#### Additional context
I'm using latest typescript version (`3.9.7`).

This worked before, but m

[2020-08-03 16:12] millsp commented on #136
Hey @kripod, there's just a few problems that I see right now. Let's say that the `...sources` are passed like `...[{a: 1}]`, then typescript will infer `U` as `{a: 1}[]`, producing a unionized array instead (type widening). To avoid this you will have to pass `...[[a: 1}] as const` and then `U` will be inferred as `[{a: 1}]`. _`#` is essentially `as const` in TypeScript._

I have a tool `Union.Me

[2020-08-03 16:26] millsp commented on #137
Hey @tonivj5, thanks for reporting this, I know. The reason that this was working before is a bug that I corrected. This now behaves like any other mapped type should. Sorry about this! And yes, you should always use `A.Key`:

[code]

Cheers!

[2020-08-03 16:26] #137 closed

[2020-08-03 22:07] kripod commented on #136
Thank you for these ideas! I'm not quite sure whether the 'with `...[{a: 1}]`, U will be inferred as `{a: 1}[]`' constraint stands still [with TypeScript 4](https://devblogs.microsoft.com/typescript/announcing-typescript-4-0-beta/#variadic-tuple-types). As for the `IsClass` type, it's less important than the immutability of arrays. The latter would be crucial, though.

[2020-08-03 22:08] millsp commented on #136
@kripod do you still want me to build this for you, regardless of the problems with the class instances? Or maybe I just misunderstood when you said classes, did you mean built-in objects must not be merged, but merge object literals and regular class instances?

[2020-08-03 22:13] kripod commented on #136
I would highly appreciate if you could come up with a solution to this, even an imperfect one would suffice 😊

For the initial version of the package I'm working on, merging types of regular type instances is a quirk I could live with. (I saw something [in the issue you've linked](https://github.com/microsoft/TypeScript/issues/3841#issuecomment-586002255) which might be interesting.)

Also, I'll m

[2020-08-03 22:30] millsp commented on #136
Mhh, I just tested it, and it does not seem to work. This is very frustrating, you're not the first one to ask. Ok, great! So I'll work on this very soon for you. Will ping you when it's done :+1:

[2020-08-04 11:33] millsp commented on #136
Hey Kristof, I think that it's done. Just let me know if it works for you! You must just install the `ts-toolbelt` and the following imports will work. Feel free to reformat to your taste.

[code]

[2020-08-04 18:04] millsp commented on #136
@kripod, is this what you wanted?

[2020-08-05 10:32] kripod commented on #136
Yes, that seems to be it, thank you!

It would be neat is there was a more convenient built-in method specifically for this. For instance, adding a new `MergeStyle` parameter type might help to avoid merging arrays when using `Assign`. I would appreciate if this could be done, as your complex customized solution may become hard to maintain over time.

[2020-08-05 10:48] millsp commented on #136
Are you sure it's that complex? :rofl: No worries, I understand that you don't want to maintain such a thing. It's a good idea to keep generic, thanks. Instead, I think I could add a parameter `noMerge` so anyone can specify types that must not be merged. That way, we can keep it generic and you'll benefit from eventual bug fixes in the future.

So I'm marking this as a feature request!

[2020-08-05 14:35] millsp commented on #136
It's done! So you will use ramda's merging style (`1`) and will disallow merging of any built-in objects or lists (`BuiltInObject | List`):

[code]

[2020-08-05 18:44] kripod commented on #136
Marvelous, thank you so much for creating this in such a short time! 🙏

[2020-08-07 20:15] kripod commented on #136
Unfortunately, it turns out that `O.Assign` discards keys of the first objects, as seen below:

[code]

`x5b` has a type of `{ a: readonly [1]; }` instead of `{ a: readonly [1]; b: string; }`.
`x9` seems to infer its return type only from the last parameter.

[2020-08-08 14:10] dagda1 opened #138 "can ts-toolbelt be used to replace manual overloads for string object path getters like lodash get"
## 🤔 Question

#### Describe your question
I have created [this playground](https://www.typescriptlang.org/play#code/KYDwDg9gTgLgBDAnmYcBCBXAdgEwDbBQCiUU0cAvHAN5wC2wAzowIYDmwAXHIzFAJZY2cAL4BuAFChIsBMlSZcBKAHUWULIOFVaDZuy48+W0ZKnho8JCnTZ8hEmSiNKNOISeNui+8VLQAbQBdMTgAd3VNIS9bJUI1DS1g0QlzGSt5WN8AZRgWGFQKCTg4AB83XnyMGIBybAAjOwIcGpSS8tpKmGruGsb+PBwtVpFisoq87tq2KGBgLBrQsHyAC25eASFROAAyOAAFfgBjAGsAHh9lR2

[2020-08-08 22:10] millsp commented on #138
Yes, we can do exactly what you want, you'll need to combine `PathValid` that will send the warnings on wrong paths, and `Path` to go fetch the type that that validated path:

[code]

We `Cast` `Keys` to be `PathValid` to force back-validation of the input, just a little trick.

Does it work for you?

[2020-08-08 22:21] #138 closed

[2020-08-08 22:49] dagda1 commented on #138
@millsp thank you for the answer and is impressive.

I have created this [codesandbox](https://codesandbox.io/s/friendly-bardeen-eu9xh?file=/src/index.ts)

it does not appear to be picking up the type error for `badBoyBundler` on line 68.

[2020-08-09 00:11] millsp commented on #136
Will look into this soon! Thanks for reporting :+1:

[2020-08-09 00:14] millsp commented on #138
It works, this is not the first time codesandbox does this

![Screenshot from 2020-08-09 02-13-26](https://user-images.githubusercontent.com/18401805/89722121-fb97f700-d9e5-11ea-985e-da8e7783f83b.png)

[2020-08-09 10:47] millsp commented on #136
I cannot reproduce the bug

[code]

![Screenshot from 2020-08-09 12-45-14](https://user-images.githubusercontent.com/18401805/89730393-670db300-da3e-11ea-9e24-b1e8dda17945.png)
![Screenshot from 2020-08-09 12-45-00](https://user-images.githubusercontent.com/18401805/89730396-69700d00-da3e-11ea-9caa-0f4f375db848.png)

[2020-08-09 11:40] kripod commented on #136
That's weird. As I've reinstalled my dependencies, I cannot reproduce it, either. Sorry for the false positive and thank you for being so helpful again! 😊

[2020-08-09 11:40] #136 closed

[2020-08-09 11:50] millsp commented on #136
Sometimes it happens that ts gets "buggy" while editing complex types, as it tries to evaluate the type before it's even complete (eg. `GenericType<A, [`). I haven't seen much of this behavior on 4.0 though. So maybe it could be just that.

[2020-08-11 11:41] iyegoroff opened #139 "Object.Partial creates wrong type"
## 🐞 Bug Report

#### Describe the bug

The type created by Object.Partial is weaker than expected

#### Reproduce the bug
[code]

#### Expected behavior
tsc should produce an error:
[code]

#### Possible Solution
[code]

[2020-08-11 12:50] millsp commented on #139
Heya @iyegoroff, thanks for reporting this. It's fixed. It will be out in a few minutes. Thanks!

[2020-08-23 22:42] millsp opened #140 "Support for TypeScript 4.0"
You can now enjoy the most optimized version of ts-toolbelt. Besides countless internal optimizations, the TypeScript team has been working on many ways to improve the type system. This has led to some of the most exciting and awaited features:
- [Variadic Tuple Types](https://github.com/microsoft/TypeScript/pull/39094)
 This means a lot of optimization for this library, not having to emulate `Con

[2020-08-23 22:43] #140 closed

[2020-09-01 23:36] mesqueeb opened #141 "Difference between { [key in string]: any } and Record<string, any>"
## 🤔 Question

My question is about the difference between `{ [key in string]: any }` and `Record<string, any>` and their use cases.

#### Describe your question
I often have cases where I allow people to pass any plain JS object and will do something with that object, and pass back a new object based on the original, but with some changes.

some examples include:
- clone a plain object ([copy-any

[2020-09-02 00:51] mesqueeb commented on #141
I believe the answer is
[code]

so it's a matter of preference / readability

[2020-09-02 00:51] #141 closed

[2020-09-03 16:46] millsp commented on #141
Yep, no difference

[2020-09-04 23:35] mesqueeb commented on #140
nice!!!

[2020-09-12 00:10] mesqueeb opened #143 "Request for advice upgrading post 6.12"
## 🤔 Question

#### Describe your question

I'm wondering if it's possible to make the types of O.Compact/O.MergeAll more beautiful in VSCode...

Ever since 6.12 + things kind changed a lot.

### 6.12

very beautiful:

<img width="822" alt="image" src="https://user-images.githubusercontent.com/3253920/92981630-a9129480-f4d5-11ea-9968-2c91d861147d.png">

### 6.15.5

<img width="820" alt="image" src

[2020-09-12 10:32] millsp commented on #143
Hey @mesqueeb I think that you should `Patch`. Thanks for letting me know, I will deprecate `Compact`.

[2020-09-12 10:46] millsp commented on #143
Actually I'm seeing that none of the deprecated things have been removed :exploding_head:...

[2020-09-12 18:09] millsp commented on #143
So this is what changed (on the left <= v6, on the right > v6):

`Merge`   -> `Patch`
`MergeUp` -> `Merge`
`Compact` -> `PatchAll`

So you should use `PatchAll`. I can't remember why but you couldn't use `MergeAll` (which would have the best type safety), I think that you had something like `{[K: string]: any}` that prevented that.

The reason behind the renaming of the tools is that `Merge` on th

[2020-09-13 20:48] mesqueeb commented on #143
@millsp
Unfortunately, I just checked and it's the same for PatchAll.
I'm talking about how these types look in VSCode pop up.

O.Compact v6.12 is only way to show a merged type way more beautiful as-is without anything the dev might not understand. See difference:

### O.PatchAll

<img width="841" alt="image" src="https://user-images.githubusercontent.com/3253920/93028252-80150f80-f64d-11ea-8b29-

[2020-09-13 23:19] millsp commented on #143
Ok, that's just a display problem. In short, this is for handling circular references. If you explicitly want to display it neatly, you should combine it with `Compute`. I'll see in the future what I can do to improve this without introducing performance drops.

[code]

[2020-09-14 10:14] mesqueeb opened #144 "feat(docs): one click "add example" button"
## 🍩 Feature Request

#### Teachability, Documentation, Adoption, Migration Strategy

In the documentation, there is often a case where I find the example lacking and would like to suggest a new example or add one where there is none.

Currently there's a link like so:
<img width="455" alt="image" src="https://user-images.githubusercontent.com/3253920/93073412-dae64f80-f6bd-11ea-9270-c4eaaad83215.

[2020-09-14 10:20] mesqueeb opened #145 "licence question"
## 🤔 Question

#### Describe your question

Heya!

I use ts-toolbelt as a dependency on quite some small libraries of mine. I usually choose the MIT License and not think this over too much, I'm not really legally conscious about this. : O

But today I noticed that TS-Toolbelt has Apache 2.0 license.

Is that a problem if ts-toolbelt is a dependency of one of my MIT libraries?

Cheers!

#### Searc

[2020-09-14 10:30] mesqueeb commented on #143
Hey @millsp I have made the edits as per your advice. And it seemed like everything worked for me with beautiful types.

However, upon build now I got an error:
[code]

This is what my code looks like with your suggestion integrated as return type:

<img width="723" alt="image" src="https://user-images.githubusercontent.com/3253920/93075335-9b6d3280-f6c0-11ea-94c3-f159126ab0e6.png">

Do you have a

[2020-09-14 10:42] mesqueeb commented on #143
**idea**: provide a version of PatchAll / MergeAll that does _not_ work with circular references?

my library doesn't support merging objects with circular references anyway, so I'd greatly appreciate the performance boost from a PatchAll / MergeAll that also doesn't  (if there is a performance penalty that is )  : D

and it will probably fix this issue as well.

[2020-09-14 10:59] millsp commented on #145
Since my code isn't bundled, I'd say that's ok. You can always give your projects a check on https://app.fossa.com/projects/git%2Bgithub.com%2Fpirix-gh%2Fts-toolbelt/refs/branch/master/be381423a520c890edcd78b894184d8f7dc52eab/preview

I have a block at the bottom of the README for this.

Cheers

[2020-09-14 10:59] #145 closed

[2020-09-14 11:09] millsp commented on #144
Definitely! I was needing to move the website to `.md` files but I got too busy lately. I though I'd move to `docz` but I'm not sure if they have such a feature for editing. Don't hesitate to share a list of doc generators you like.

[2020-09-14 11:09] millsp commented on #144
Thanks for your help

[2020-09-14 11:18] mesqueeb commented on #144
Well, I like Vue Press, but I know you're a React guy, so we're kinda in different camps here 😛

[2020-09-14 11:44] millsp commented on #143
I cloned your repo and the tests are passing. Maybe you should nuke your `node_modules`. And upgrade to ts ^4

[2020-09-14 11:49] millsp commented on #144
Yeah, for us react guys there's docusaurus :t-rex:

[2020-09-14 14:43] mesqueeb commented on #143
@millsp I just tried updating all dependencies, but no luck.
Maybe I forgot to mention but: the issue is on the `production` branch. It's not the default branch. 😅

<img width="787" alt="image" src="https://user-images.githubusercontent.com/3253920/93100407-1431b600-f6e4-11ea-86e2-10677ccaa9a8.png">

[2020-09-14 21:43] millsp commented on #143
Got a fix on the way!

[2020-09-14 22:45] millsp commented on #143
You cam just use it without `A.Compute` now. Let me know if it works for you.

[2020-09-15 12:10] millsp commented on #143
@mesqueeb did it solve your problem?

[2020-09-15 16:29] millsp commented on #143
Actually, it could be nice if you can hold on. I'm planning to release a more generic version of `Merge` and `Patch` that will handle arrays and tuples perfectly.

[2020-09-16 03:28] mesqueeb commented on #143
@millsp I'm sorry I didn't check this thread past two days!

all problems are solved since `v8.0.6`
I don't even need the A.Compute any more, it shows beautifully by default.

PatchAll, MergeAll both work.

I ended up going for `O.Assign` because I realised that that's the correct one for me now!

[2020-09-16 03:28] #143 closed

[2020-09-16 11:02] #83 closed

[2020-09-17 01:47] mesqueeb commented on #143
@millsp PS, I'm happy to test anything else for you, I don't do array or tuple merging in any of my libraries though!
But let me know how I can help! : )

[2020-09-17 10:57] millsp commented on #143
ts-toolbelt@9 will be out in November, it will have breaking changes on `Merge` and `Patch`.

[2020-09-18 04:25] mesqueeb opened #146 "TS1256 & TS2574: A rest element type must be an array type."
## 🐞 Bug Report

#### Describe the bug

I upgraded a package of mine `merge-anything` to latest version of `ts-toolbelt`, but ever since then I cannot build some projects any more that use `merge-anything`.

Here is the error I'm seeing:

<img width="1034" alt="image" src="https://user-images.githubusercontent.com/3253920/93555710-bd610080-f9b1-11ea-9ae6-a47b60e20c42.png">

When I follow the error

[2020-09-18 11:30] millsp commented on #146
I think that `typescript@4` has not been explicitly set

[2020-09-18 11:41] mesqueeb commented on #146
I see! So, if my project is TS 3, and I want to use `merge-anything` which has the latest ts-toolbelt, which needs TS 4, then as result, my project will also be forced to use TS 4! :O I get it now.

[2020-09-18 12:16] millsp commented on #146
It's hard to put `typescript` as a peer dependency - something most people don't want

[2020-09-18 12:16] #146 closed

[2020-09-20 10:56] Dot-H opened #147 "`O.PathValid` unexpected behaviour with depth >= 3"
## 🐞 Bug Report

#### Describe the bug

Hi :wave:

When trying to access an object deeper than 3 indirection using `O.PathValid`, the path becomes invalid.

#### Reproduce the bug
[code]

#### Expected behavior
The arguments passed to the `updateEnterpriseDidElement` should be valid. Am I missing something ?

[2020-09-21 12:12] millsp commented on #147
Hey @Dot-H, you made a little mistake. You must allow numbers because `IManagement` is an array.

[code]

[2020-09-21 12:12] #147 closed

[2020-09-22 10:01] Dot-H commented on #147
Ups, sorry for the false alarm and thanks for the help :bowing_man:

[2020-09-29 15:12] osaton opened #149 "O.Merge drops null types from optional properties of O"
## 🐞 Bug Report

#### Describe the bug
O.Merge drops `null` type from optional properties of `O` since 8.0.5. 8.0.4 works as expected.

#### Reproduce the bug
[code]
Creates type:
[code]
#### Expected behavior (<= 8.0.4)
[code]

### Additional information
- `typescript@4.0.3`

[code]

[2020-10-06 12:28] millsp commented on #149
Thank you so much for reporting this. Fix is on the way!

[2020-10-06 12:28] #149 closed

[2020-10-06 15:23] millsp opened #150 "How to create branded, opaque, unique, single types?"
## 🤔 Question

#### Describe your question

Type branding is made possible by intersecting a type with a object type that has a non-existent property hidden behind a symbol type.

[code]

#### Search tags, topics
nominal typing, branded types, opaque types, unique types

[2020-10-06 15:23] #150 closed

[2020-10-08 08:48] KpjComp opened #151 "Typescript 3.8 compatibility."
## 🐞 Bug Report

Doc's say that Typescript 3.5+ is supported, but it looks like Typescript 4.0 is now only supported.

#### Reproduce the bug

I've extracted the relevant part of the .d.ts file for simplicity.

[code]

Here is a playgound to test the versions -> https://www.typescriptlang.org/play?declaration=false&target=2&jsx=0&module=1&ts=3.9.7#code/C4TwDgpgBAMglgZ2AHgIJQLxQIYDsQB8mUAShNgCYD2uA

[2020-10-08 12:30] millsp commented on #151
Sorry about this. I'll update soon. Here's the compatibility table https://github.com/millsp/ts-toolbelt#-compatibility

[2020-10-08 15:04] KpjComp commented on #151
@millsp   Ah, sorry.  My bad.  Didn't notice that compatibility table.

I very rarely worry about versioning, `npm install pkg`, but having `npm install pkg@x.x.x` makes total sense here to get the latest TS features,  I only recently installed so of course got the latest, but at this point hadn't yet updated TS..

[2020-10-08 16:31] millsp commented on #151
Actually, I see that there was a link for the support table.
So there's no problem. So I am going to be close this issue.

Don't hesitate to ask any questions related to this lib or TypeScript.

I'm always here to help. Cheers!

[2020-10-08 16:31] #151 closed

[2020-10-09 14:09] jer-sen opened #152 "Nullable array merge"
## 🐞 Bug Report

#### Describe the bug
With ts-toolbelt@8.0.7 and typescript@4.0.3 `O.Merge<{ a: null | number[] }, { a: null | number[] }, 'deep'>` doesn't return `{ a: null | number[] }` instead it returns
[code]

[2020-10-09 15:40] millsp commented on #152
Hi there, sorry about this! I'm closing this issue because it's going to be fixed in the future.
I can't fix it on this branch because the fix introduces breaking API changes and full array merging support. If you want to give it a shot:

```npm install typescript@next --save-dev```
```npm install ts-toolbelt@next --save```

Cheers

[2020-10-09 15:43] jer-sen commented on #152
Ok thanks. I gonna wait...

[2020-10-09 15:52] millsp commented on #152
It's a bit far in time (on Nov 17) . We release the `next` branch according to the TS iteration plan https://github.com/microsoft/TypeScript/issues/40124 since we are continuously upgrading the codebase with the latest ts features. It's generally safe to use ts `next`. Watch out for the release.

Don't hesitate ask questions if you need some help with types or anything else :100:

[2020-10-17 22:21] selfrefactor commented on #133
So again, there are unused variables that causes problems for me. Is there a way to add such check, so I don't have to trouble you every time?

[2020-10-29 14:24] zaunermax opened #153 "Returned object is not assignable to defined return type"
## 🐞 Bug Report

#### Describe the bug
I seem to run into a bug, where `Update` works flawlessly on static types, but breaks on generic types.

#### Reproduce the bug
[code]

#### Expected behavior
`P.Update` should work with generics. Not sure if this is a TS limitation though :thinking:

#### Additional context
toolbelt version 8.0.7 - Typescript version 4.0.3

[2020-10-30 13:50] millsp commented on #153
Hey @zaunermax, thanks for reporting this. This is a limitation where TypeScript is not able to predict the output in the presence of a generic type. You will have to override and cast your returned value to `any`.

[2020-10-30 13:50] #153 closed

[2020-10-30 14:41] zaunermax commented on #153
Ok thanks for clarifying, sorry to having bothered you :raised_hands:

[2020-10-30 14:49] millsp commented on #153
My pleasure, no problem. I'm adding this to the wiki.

Cheers

[2020-10-31 15:18] nandorojo opened #154 "Support dotted path notation"
## 🍩 Feature Request

#### Is your feature request related to a problem?

TypeScript 4.1 has template literals, and they're super useful. However, the only solutions out there are quite hacky to use, and result in some bugs.

I want to be able to get a nested object path, as shown in [this repo](https://github.com/ghoullier/awesome-template-literal-types).

#### Describe the solution you'd like

[

[2020-10-31 18:59] millsp commented on #154
¡Hola Nando! ¿Como mola?

We already have something similar here https://millsp.github.io/tstoolbelt/modules/_object_paths_.html

I can do this for you in the next week, with a better implementation that won't crash on circular references and that is certainly easier to read and understand/maintain :)

[2020-10-31 19:02] nandorojo commented on #154
Todo bien!

Thank you, great to hear. A key part of the new syntax is that it enforces strict paths for nested strings. I use object paths, but I don't think it quite does the same for nested for notation of only certain paths.

Thanks again!

[2020-10-31 19:02] nandorojo commented on #154
PS I think your link is broken

[2020-10-31 19:06] millsp commented on #154
Fixed

[2020-10-31 19:07] millsp commented on #154
what do you mean?

[2020-10-31 20:13] nandorojo commented on #154
![Screen Shot 2020-10-31 at 4 10 57 PM](https://user-images.githubusercontent.com/13172299/97789028-b7a33100-1b93-11eb-89ac-4284a24f2b58.png)

Notice how this allows `post.type`, but it should only allow `post.url`, or `car.type`. Code [here](https://codesandbox.io/s/youthful-goldwasser-o6xyl?file=/tests.ts).

The correct behavior would be like this:

![image](https://user-images.githubusercontent

[2020-11-01 12:12] millsp commented on #154
Yep, it works correctly, though. The problem here is that TypeScript replaced `['post', '']` as a type `[string, ...]` because it widens primitive types in objects - which can definitely be confusing and impractical in your scenario. Reason why we'd rather use the "dot" notation with strings, since string parameters don't undergo such widening.

The implementation I'll work on will have a common l

[2020-11-01 13:12] millsp commented on #154
Never mind, I was able to solve this limitation by preventing excess depth.

![Screenshot from 2020-11-01 14-07-01](https://user-images.githubusercontent.com/18401805/97803754-07e1c800-1c54-11eb-99fa-fd1368527fbe.png)

[2020-11-01 13:19] millsp commented on #154
I limited the output to `10`, that's when ts starts complaining that it's too deep (usually `11`). I'm going to think over this in the next week to provide you with the full solution.

[2020-11-01 15:34] nandorojo commented on #154
Wow very cool! Is there any shot you could share your temporary solution here to try in the meantime?

Thank you again.

[2020-11-02 01:19] millsp commented on #154
Giving it to you "as is", let me know if we can improve it

[code]
*/
export type Paths<O extends object> =
    _Paths<O>

type Joinable = string | number | boolean | bigint

type Join<
  L extends L.List<Joinable>,
  D extends Joinable,
  J extends Joinable = '',
  I extends I.Iteration = I.IterationOf<'0'>> = {
    0: Join<L, D, `${J}${D}${L[I.Pos<I>]}`, I.Next<I>>
    1: J extends `.${infer J}`

[2020-11-02 12:46] millsp commented on #154
Heya, I woke up fresher this morning. Here's a shorter, cleaner version:

[code]

[code]

Notice that I added `String` into the `get` definition because I felt like we should be able to pass unknown strings too.

[2020-11-03 00:55] nandorojo commented on #154
Wow, this looks great, I'll test it and report back. Thank you so much!

[2020-11-03 16:41] millsp commented on #154
Thanks, I'll include this in the next release, around the 15th of November. I will also create `PathDot`  so that we can get the type at the end of that path.

[2020-11-03 16:54] nandorojo commented on #154
@millsp This seems to be working great! The only thing is my linter is giving me errors when using `String`. Should I be importing that from `ts-toolbelt`?

![Screen Shot 2020-11-03 at 11 48 51 AM](https://user-images.githubusercontent.com/13172299/98015258-96785580-1dca-11eb-9d53-6fa9e3b9f78b.png)

Let me know if I should just ignore that.

Also, it doesn't seem to support objects nested in array

[2020-11-03 17:16] millsp commented on #154
I saw that earlier, I updated the snippet :) It should work now.

Yes, I just left it like that for now. You can probably use the other implementation for now, though I'm not sure it's 100% type-safe.

Yep. Because if I used `| string` it would swallow all the paths into `string`. since `String` is an object and `string` at the same time, this swallowing behavior does not happen.

Amazing! Thanks

[2020-11-03 17:25] millsp commented on #154
I see one case where the paths cannot be resolved is where you have a list of unknown size - because it could be empty. The solution could be to take steps of `get` every time the autocomplete falls short.

[2020-11-06 15:29] michalczaplinski opened #156 "Purpose and safety of Any/Compute"
I'm looking at the `Any/Compute` type and my most immediate reaction is: "It seems super useful, so probably TS has a good reason not to compute the final type by default".

However, I think that I lack the deep TS expertise to know why that's the case. With that in mind:

- Is `Any/Compute` safe to use for every type? Are there known edge cases?
- Is it known why TypeScript chooses not to compute

[2020-11-06 15:58] millsp commented on #156
I assume that this is purely for efficiency yes, or so that we can abstract certain types away (that we don't want to show), or both at the same time.

It is completely safe, there is absolutely no type loss. However, there is a drawback at the moment:

[code]

Will yield a type that, when you look at it, is filled with `any`s. It just looks like `any`. In fact the type information is well preserv

[2020-11-06 20:54] millsp commented on #154
Great news. While programming today, I actually noticed that TypeScript DOES accept to have strings like `prop.[number].prop`. This is really amazing, because we don't have to worry anymore, it works with arrays too:

[code]

[2020-11-06 22:23] millsp commented on #154
I need to do some more testing

[2020-11-12 10:03] xenoterracide opened #157 "Compile Error 8.4.0"
this happens just by having a module that depends on ts-toolbelt installed

[code]

this repo reproduces the issue https://github.com/xenoterracide/merge-anything-compilation-issues you can do `yarn && yarn build` to see the issue.

cross referencing https://github.com/mesqueeb/merge-anything/issues/13

[2020-11-12 11:58] millsp commented on #157
I think that you need ts >= 4.1

[2020-11-12 14:26] xenoterracide commented on #157
you mean `typescript`? that's not out yet... trying to clarify whether this is a problem where `merge-anything` needs to fix its deps. Since I don't have a direct dependency on `ts-toolbelt`

[2020-11-12 16:04] millsp commented on #157
@mesqueeb's `merge-anything` is using the `next` version of `ts-toolbelt`. TypeScript 4.1 will be released in 5 days.

[2020-11-12 16:19] xenoterracide commented on #157
This whole thing seems like a hot mess, thanks.

[2020-11-13 01:52] mesqueeb commented on #157
@millsp I don't think I am?
https://github.com/mesqueeb/merge-anything/blob/production/package.json#L49

[2020-11-13 11:47] millsp commented on #157
Yep, sorry @mesqueeb. Don't know how this happened.
https://www.npmjs.com/package/ts-toolbelt

[2020-11-15 01:04] nandorojo commented on #154
Would this work if I did `hi[0]` syntax too?

[2020-11-15 12:49] millsp commented on #154
No, we would need to implement something. I quickly bootstrapped something and since it increases complexity, you would be limited to `6` nested properties instead of `9`.

[2020-11-15 21:32] millsp commented on #154
If that's ok, I can do that for you (are you building a lib), or was it purely out of curiosity? @nandorojo

[2020-11-21 18:21] MattRCole opened #158 "S.Length<S extends String>"
## 🍩 Feature Request

#### Is your feature request related to a problem?
It is extremely difficult to derive the length of a string using typescript typings.

Unlike the relatively simple way one can get the length of an array:

[code]

The length of a string is very hard to determine

[code]

#### Describe the solution you'd like
A first stab at a solution:

[code]

This type might be too "beefy"

[2020-11-21 18:49] nandorojo commented on #154
A few different places: I'm using it in my actual app, and I'm also working on adding strict types to [Drispy](https://github.com/nandorojo/dripsy), a design system I maintain. I want to safely use `theme.colors.primary` throughout my app, including nested fields, arrays, and such. We've been working on this [here](https://github.com/system-ui/theme-ui/pull/1090) for theme-ui, which Dripsy relies

[2020-11-21 18:52] nandorojo commented on #154
That should still work, I would imagine that `6` nested properties should be sufficient, and we can fallback to any non-nullable field at that point.

[2020-11-22 17:36] millsp commented on #158
Hey @MattRCole,

I would be all in for such a utility. You had a good practise there with the type system there, well done! But I think that we can indeed do shorter by shipping a `Split` type that will split on `''` empty strings and then we can retrieve the length from there - just to keep it all more generic.

[2020-11-27 11:14] asgerhallas commented on #119
I somehow missed your answer, sorry! What I meant was that, I'd like the type safety to be enforced by the function signature, so the caller does not have to add `as const`, but still only be able to pass expected strings in the array. It's easy for a caller to forget `as const` and thus we will not catch errors now or when the allowed string values change in the future.

[2020-11-27 12:30] millsp commented on #119
It's a TypeScript limitation, I know how inconvenient this is. To work around that, the only solution is to take rest parameters instead. Or you could have this Maybe this can help you:

- https://github.com/millsp/ts-toolbelt/issues/154
- https://github.com/microsoft/TypeScript/issues/30680

[2020-11-27 12:54] asgerhallas commented on #119
Thanks a lot for your swift reply :)

I'll look into those links right away!

[2020-11-27 18:20] nandorojo commented on #154
@millsp one minor note – the latest gist also adds `length` to the suggestions:

<img width="527" alt="Screen Shot 2020-11-27 at 1 18 38 PM" src="https://user-images.githubusercontent.com/13172299/100476297-30be7700-30b3-11eb-8643-2cdf9d99f528.png">

For the following type:

[code]

[2020-11-27 19:37] millsp commented on #154
Good point, I updated the gist so that it doesn't pick up array properties or built-in object properties.

[code]

Let me know if it works for you, I haven't thoroughly tested this!

[2020-12-02 22:49] nandorojo commented on #154
The gist is working well for me in development. However, when I run `yarn tsc`, I'm seeing this:

[code]

This is the code I'm using:

[code]

[2020-12-02 22:52] nandorojo commented on #154
This may be because I'm using it in Formik. Not sure if that adds something to it. I'll see if a simpler usage breaks it too.

[2020-12-03 00:10] millsp commented on #154
Ok, there's a few things you could test:
- Does the previous gist work or does it fail too? If not =>
- Does it work when you replace `M.BuiltInObject` by `Function`?
- Is the variable you are passing a very big type?

Maybe a repro or a link to a branch on your repo, then I could take a look if all else fails?

[2020-12-03 00:14] nandorojo commented on #154
Thanks, I'll try these out!

Yes, it's a very large type so I assume that's probably it. I'll try to reproduce it.

[2020-12-03 00:23] millsp commented on #154
No problem, I'd really like this to work! Just curious, is it a large union or a large object type?

[2020-12-03 00:24] nandorojo commented on #154
Large object, no unions.

On Wed, Dec 2, 2020 at 7:23 PM Pierre-Antoine Mills <
notifications@github.com> wrote:

--

*Fernando Rojo*
University of Pennsylvania, Class of 2019
*Candidate for Bachelor of Arts in Economics and Mathematics*

Founder at PATOS <http://wearpatos.com>
734.645.4666
Forbes <http://bit.ly/PATOSforbes>, Business Insider <http://bit.ly/PATOSbi>
, NBC
<https://www.nbcnews.com/

[2020-12-03 00:24] nandorojo commented on #154
Although there may be a problem with a large union too, I’ll investigate
more closely.

On Wed, Dec 2, 2020 at 7:23 PM Fernando Rojo <frojo@sas.upenn.edu> wrote:

--

*Fernando Rojo*
University of Pennsylvania, Class of 2019
*Candidate for Bachelor of Arts in Economics and Mathematics*

Founder at PATOS <http://wearpatos.com>
734.645.4666
Forbes <http://bit.ly/PATOSforbes>, Business Insider <http:

[2020-12-04 10:52] cjol opened #159 "How to construct type for "Object having path P"?"
## 🤔 Question

I'm trying to write a curried "select" function which plucks a value from inside a given object. The type for the non-curried version looks like this:
[code]

For the curried version, the best I've come up with is this:
[code]
What I don't like about this is the `T extends object` generic. Because of this `selectFooBar` will appear to accept any object. I really want to end up with

[2020-12-04 11:22] millsp commented on #159
Hey @cjol, yes this is very easy to achieve. We have `Object.P` modules that allow operating on objects at a `Path`. So you are looking for `Object.P.Record` https://millsp.github.io/ts-toolbelt/modules/_object_p_record_.html

[2020-12-04 11:46] cjol commented on #159
Thanks, I was sure there would be a solution! For completeness, here is my final solution:

[code]

[2020-12-04 11:46] #159 closed

[2020-12-04 11:48] millsp commented on #159
Glad I could help, have a nice day.

[2020-12-05 21:37] jessetabak commented on #154
Hi,

I've been following this conversion with great interest and I have the exact same problem in my project. Took me a while to create a repro. It only fails when used inside a generic class and an if statement and an assignment, pretty strange.

[code]

[2020-12-05 23:12] amir4z opened #160 "amir"
## 🐞 Bug Report

#### Describe the bug

#### Reproduce the bug
[code]

#### Expected behavior

#### Possible Solution

#### Screenshots

#### Additional context

#154

[2020-12-05 23:13] amir4z opened #161 "amir1"
## 🍩 Feature Request

#### Is your feature request related to a problem?

#### Describe the solution you'd like

#### Describe alternatives you've considered

#### Teachability, Documentation, Adoption, Migration Strategy

#154

[2020-12-05 23:14] amir4z commented on #161
#160

[2020-12-06 11:44] #160 closed

[2020-12-06 11:44] #161 closed

[2020-12-06 11:46] millsp commented on #154
Thanks for the insight @jessetabak, I'm going to look into this

[2020-12-08 08:39] mikeplus64 opened #162 "New `String` methods for TS 4.1+"
Now that string templating is possible it's possible to build your own type-level parsers and formatters. Here's what I'd suggest as a start:

[code]

## Motivation

Writing a type-safe routing library, these are utility types that I've mostly already defined.

[2020-12-08 11:36] millsp commented on #162
Hey @mikeplus64, thanks! We should definitely add this. Would you like to open a PR?

[2020-12-11 09:04] mikeplus64 commented on #162
Yep can do next week some time.

[2020-12-11 10:11] sproott commented on #154
I changed this implementation to be an array of strings instead of a single string separated by dots.
[code]
For a generic type, it gives me for example [] | ["b"] | ["b", "id"] | ["id"] | ["name"]. Now what I want is to be able to extract the current type this has been called with, for example only ["b"]. This doesn't work though. After calling O.Path on it it converts every one of these possible

[2020-12-11 21:11] jessetabak commented on #154
It sounds like you want what O.Paths<T> already does, if not, can you post a more complete code example.

[2020-12-11 23:32] sproott commented on #154
Actually I'm sorry, didn't realize, it is exactly what O.Paths does. What I'm really asking about is if I pass a specific value like ["b"], I want the type of that to be only ["b"], not all the possible combinations.

The function:
[code]

The only way I manged to call this with the right type inference was to pass the keys as `["b"] as const` (a readonly array). Is it possible to tell that this h

[2020-12-12 10:56] jessetabak commented on #154
It's not exactly what you're looking for, but I use the following in my projects, it does not have the issue you encounter, maybe you can adjust to your needs:
[code]

I tried to make this work without the first root object parameter, but it does not work, it's this code (short version):
[code]

[2020-12-14 16:53] mdbetancourt opened #164 "KnowKeys"
## 🍩 Feature Request

#### Is your feature request related to a problem?
To get only know keys of an object

#### Describe the solution you'd like
[code]
https://stackoverflow.com/a/51956054/8741524

[2020-12-14 17:43] millsp commented on #164
Approved. This can benefit all the `...Keys` utilities too, since they return `never` in the case outlined on StackOverflow.

[code]

And we could rewrite other utilities such as:

[code]

Thanks!

[2020-12-14 20:24] mdbetancourt commented on #164
yes i had to use it with SelectKeys in order to work properly

[2020-12-14 20:26] millsp commented on #164
Would you mind posting an example?

[2020-12-14 22:26] mdbetancourt commented on #164
i'm using an ORM so i created

[code]

[2020-12-16 08:18] maiermic opened #165 "Issuehunt link broken"
The Readme links to https://issuehunt.io/r/millsp/ts-toolbelt but that page shows

[2020-12-16 11:25] millsp commented on #165
Thanks! I just noticed it stayed under my previous nickname

https://issuehunt.io/r/pirix-gh/ts-toolbelt

[2020-12-21 11:44] zavierboyd opened #166 "Objects/_api Paths breaks with Array<T> or T[] in property types"
## 🐞 Bug Report

#### Describe the bug

When using Object/_api Paths<T> with an object that contains an Array the output type will union with `List<string | number | symbol>`

#### Reproduce the bug
[code]

#### Expected behavior

Expected the output type to be `['prop': number?]` when using default Arrays without `List<string | number | symbol>`
[code]

#### Temporary Solution
[code]

#### Additi

[2020-12-23 14:26] millsp commented on #166
Hey @zavierboyd, thanks for reporting this.

[2020-12-25 08:29] #133 closed

[2020-12-25 13:17] brettmitchelldev opened #167 "Definition conflict error on TS v4.2 when ts-toolbelt is installed with a package that depends on a different version of ts-toolbelt"
## 🐞 Bug Report

#### Describe the bug
Compile error on Typescript 4.2 with latest published ts-toolbelt (8.0.7) when installed alongside `@types/ramda@0.27.6`.
It appears that you cannot use an up-to-date version of ts-toolbelt with any other library that depends on a different version.

#### Reproduce the bug
Make new Node.js project and run:
[code]

index.ts:
[code]

Run:
[code]

Output:
[code]